[2021-03-24 15:25] MarcelWilhelmi opened #33 "Too few arguments to function SchedulerBundle\Transport\FailOverTransportFactory::__construct()"
Hello,

when using failover or doctrine/dbal as transport dsn the following error is thrown:
`Too few arguments to function SchedulerBundle\Transport\FailOverTransportFactory::__construct(), 0 passed in [...]/var/cache/dev/ContainerXePqEvI/App_KernelDevDebugContainer.php on line 1071 and exactly 1 expected`

Example scheduler.yaml:
[code]

I'm using guikingone/scheduler-bundle 0.3.1, PHP 7.4 and S

[2021-03-24 16:52] Guikingone commented on #33
Hi @MarcelWilhelmi 👋🏻

That's a "known error but just two days ago" 😄

In fact, it comes from the `SchedulerBundleExtension::registerTransportFactories()`, I discovered that a rebase caused the issue and removed the definition arguments for every "compound" transport factories

A fix is available here: https://github.com/Guikingone/SchedulerBundle/pull/34, i've planned to release it at `0.3.2` onc

[2021-03-24 16:57] #33 closed

[2021-03-24 17:08] Guikingone commented on #33
`0.3.2` has been released: https://github.com/Guikingone/SchedulerBundle/releases/tag/0.3.2

Thanks for the issue (and sorry at the same time) 🙂

[2021-03-25 09:22] MarcelWilhelmi commented on #33
Thank you very much for the very quick fix :-)

[2021-03-25 09:28] MarcelWilhelmi opened #35 "Doctrine and Redis transport factories are not injected into TransportFactory constructor"
Hello,

now with the new version 0.3.2 I'm trying to use the doctrine transport, but somehow the DoctrineTransportFactory and RedisTransportFactory implementations of the interface TransportFactoryInterface are not being injected into the TransportFactory constructor and so the error message I get is `No transport supports the given Scheduler DSN "doctrine://..."`

All implementations under /src/T

[2021-03-25 09:43] Guikingone commented on #35
Hi @MarcelWilhelmi

Hum, strange behaviour here as both factories are tagged:

[code]

The only reason that I can see is that `doctrine` is not available:

[code]

Does `doctrine` service available in your application? 🤔

[2021-03-25 09:56] Guikingone commented on #35
Ok, small update, it seems that the factory is registered but only if the definition for `doctrine` is available, thing is, at the compile time, the definition is not set, i'm working on a fix, keep you updated 🙂

[2021-03-25 18:06] #35 closed

[2021-03-30 10:14] MarcelWilhelmi commented on #35
Thanks for the quick fix :-)

[2021-03-30 10:33] MarcelWilhelmi opened #40 "bug(bridge): Doctrine::setup()"
Hello again ;-)

It seems like the auto_setup of the doctrine transport is not being executed. I used this as dsn in the scheduler.yaml.
`dsn: 'doctrine://default?execution_mode=first_in_first_out&table_name=scheduler&auto_setup=true'`

It looks like the Connection->create function of the doctrine connection class is always called first and this supposes, that the used database table already exist

[2021-03-30 12:14] jvancoillie opened #41 "DoctrineTransport table_name configuration"
The configuration of the table name (table_name) for the Doctrine transport as described in the document does not work, a camelCase notation is expected in the DoctrineTransportFactory [L39](https://github.com/Guikingone/SchedulerBundle/blob/bbcf1eb58a86dbefde4eb04f166dcc4fa150d87f/src/Bridge/Doctrine/Transport/DoctrineTransportFactory.php#L39)
by modifying the option in camelCase notation the nam

[2021-03-30 12:24] Guikingone commented on #41
Hi @jvancoillie 👋🏻

Wow, nice catch, seems to be related (as looked in the changelog) to a recent refactoring, do you want to create a PR to fix it or do you prefer to me to handle the fix? 🙂

[2021-03-30 12:31] jvancoillie commented on #41
no problem, I should be able to offer a pull request.
To keep the snake_case notation consistent, I will change the tableName option to table_name in the DoctrineTransportFactory.

[2021-03-30 12:38] Guikingone commented on #41
@jvancoillie I agree on the change, don't forget (if you have time) to add a regression test on the value passed in the option 🙂

[2021-03-30 14:47] #41 closed

[2021-03-30 15:04] Guikingone commented on #40
Ok, small update about this issue, I've found the main issue, by default, the `Connection` perform actions via a transaction (to prevent the use case where a task is accessed by 2 process at the same time), thing is, if the schema is not set outside of the transaction, the transaction still marked as active and we cannot call `setup()` which actually create the schema.

A PR has been opened about

[2021-03-30 15:51] jvancoillie opened #45 "bug(bridge): Doctrine::update()"
Hi,

Task update fails due to lock mode ([getWriteLockSQL()](https://github.com/Guikingone/SchedulerBundle/blob/35aacb893d5bc1fade7ea2faac07a0223ddff1ec/src/Bridge/Doctrine/Transport/Connection.php#L291)) which I think is only available on a SQL SELECT command.

that throws the following exception
[code]

[2021-03-30 16:18] Guikingone commented on #45
Hi @jvancoillie 👋🏻

Hum, strange behaviour here 🤔

This method is tested on [SQLite](https://github.com/Guikingone/SchedulerBundle/blob/main/tests/Bridge/Doctrine/Transport/ConnectionIntegrationTest.php#L144) and seems to work, do you have more informations about the stack used? Maybe the SGBQ driver and so on?

Thanks and sorry for the issue 🙂

[2021-03-30 16:44] jvancoillie commented on #45
no problem, I discover the bundle and try to understand how it works so that I can use it on a current project.

It is possible that the problem does not come from the bundle but from the use that I make of it.

Currently I am on version 5.2.6 of symfony with php 7.4.15 and a mariadb in version 10.5.8 (docker mariadb:10.5.8) with the following overrided configuration:
[code]

[2021-03-30 16:56] jvancoillie commented on #45
I tested without the writeLockSQL and when updating the task it does not detect any change which throws the exception "The given task cannot be updated as the identifier or the body is invalid" and rollback because the rowCount ( ) equal to 0.
[code]

[2021-03-30 16:58] Guikingone commented on #45
Do you have the whole process that lead to this error? 🤔

It is during a specific command?

[2021-03-30 17:11] Guikingone commented on #45
Oh, that's what I call a great issue 😄

Ok, got it, by default and if `single_run` is set to `true`, the task is unscheduled right after the execution, thing is, the process of updating the task is not aborted and the connection cannot do the update 🤔

Looks like a "human-related" bug on my side 😄

[2021-03-30 17:31] Guikingone commented on #45
Aucun souci pour l'anglais, le mien n'est pas meilleur (et je ne parle pas de l'accent made in "Chud de la France" 😄 ).

The `single_run` is made to execute the task once and only once, BTW, you create an interesting use case were we can have tasks that must be executed only once when deploying / booting the scheduler / etc.

Could be interesting to thing about it for next releases 🙂

[2021-03-30 17:41] jvancoillie commented on #45
Great, what is a shame is that I will no longer have information on the single_run command. Currently, when I list the scheduler I find my activation command (certainly because of the bug).

<img width="1164" alt="Capture d’écran 2021-03-30 à 19 40 00" src="https://user-images.githubusercontent.com/21243943/113032104-c2d4aa00-918f-11eb-8111-23ed2bf2c742.png">
After the correction, I should not h

[2021-03-30 18:49] Guikingone commented on #45
Hum, in fact, the behaviour can be changed / improved, I'm thinking about the fact that a `single_run` task can be disabled once executed rather than removed from the scheduler 🤔

[2021-03-31 05:37] jvancoillie opened #47 "bug(collector): scheduler panel"
Hello it's me again,

I throw an exception when I consult the profiler (_profiler/latest?panel=scheduler)
<img width="1164" alt="Capture d’écran 2021-03-31 à 07 38 41" src="https://user-images.githubusercontent.com/21243943/113095687-31e3ea00-91f4-11eb-9e94-1904eb7f08bb.png">

after having consulted the HTTP entrypoint _tasks?name=activation.
maybe it's related to the `single_run` #45 issue
<img

[2021-03-31 06:13] Guikingone commented on #47
Hi @jvancoillie 👋🏻

Yes, can be related as the task has been unscheduled / updated, I'm taking a look at it today 🙂

[2021-03-31 06:26] jvancoillie commented on #47
@Guikingone A big thanks, I will continue with the configuration of the other tasks. I'll try to leave you alone.

is there a slack channel for this bundle? I sometimes have questions but they are more functional, I would not like to pollute github issue

[2021-03-31 06:28] Guikingone commented on #47
No problem, if you meet issues, do not hesitate to open issues 🙂

If you have functional questions, you can use the discussions: https://github.com/Guikingone/SchedulerBundle/discussions

[2021-03-31 11:21] #45 closed

[2021-03-31 11:21] Guikingone commented on #45
Small update, the fix has been merged, as the core API has been changed (`unschedule` to `pause`), the fix is moved to `0.4` for release 🙂

[2021-03-31 11:29] jvancoillie commented on #45
@Guikingone thanks

[2021-03-31 14:31] Guikingone opened #49 "feat(task): handle "deploy" tasks"

[2021-04-02 12:45] Guikingone opened #51 "dx(task): use attributes to schedule tasks"

[2021-04-02 16:14] Guikingone commented on #40
Hi @MarcelWilhelmi 👋🏻

Small update about the fix, it should be ready pretty fast (I'm facing small issues with the tests as its almost a complete refactoring) and released in `0.4`, thanks again for the issue and sorry for the delay 🙂

[2021-04-06 06:38] #40 closed

[2021-04-06 06:39] Guikingone commented on #40
Hi @MarcelWilhelmi 👋🏻

The issue has been fixed via https://github.com/Guikingone/SchedulerBundle/pull/43, it should be released in `0.4` pretty soon.

[2021-04-06 09:38] Guikingone commented on #47
Hi @jvancoillie 👋🏻

As `0.4` is under pre-release process, I'm gonna investigate this issue before processing the release, I'll let you know if the issue is fixed 🙂

[2021-04-06 11:36] MarcelWilhelmi commented on #40
Thank you very much again :-) I will try it when version 0.4 has been released.

[2021-04-12 20:08] MedMed59 opened #56 "bug ( Notice: Undefined index: transport ) - configuring guikingone/scheduler-bundle"
Hello,

I have a little problem during the installation of the bundle.
I get an error in

[code]

Where does this problem come from?

[2021-04-13 06:37] Guikingone commented on #56
Hi @MedMed59 👋🏻

Strange issue, can you give me more details, have you any configuration already defined before installing it?

[2021-04-13 07:26] MedMed59 commented on #56
Of course, my symfony version is **5.2.6**, I already had a configuration before installing it
Do you want me to give you my composer.json or other config file?

[2021-04-13 07:33] Guikingone commented on #56
Just the `scheduler.yaml` file if you have one 🙂

[2021-04-13 07:41] MedMed59 commented on #56
The file `scheduler.yaml` was not generated

[2021-04-13 07:43] Guikingone commented on #56
Hum strange, so you don't have any previous installation of the bundle.

The only relation here can be the introduction of the cache transport (which requires the `transport` key), I'm gonna investigate the issue.

[2021-04-13 16:31] Guikingone commented on #56
Hi @MedMed59 👋🏻

Small follow-up, can you try installing it using the `dev-fix/dic_extension` branch? I've tested on a local project and it seems to work but as you have your own project, it could be a good way to validate it 🙂

Thanks.

[2021-04-13 20:15] MedMed59 commented on #56
Hi @Guikingone ,
I just tested using the "dev-fix/dic_extension" branch but I still have the same error

[code]

[2021-04-14 06:31] Guikingone commented on #56
Hum, strange, I'm gonna continue to investigate it 🤔

[2021-04-14 07:06] Guikingone commented on #56
Ok, small follow-up, I've pushed a fix on the same branch as yesterday, I've tested it on a fresh project and it seems to solve the issue, can you confirm?

If yes, the patch will be released as `0.4.1` once the CI is green 🙂

[2021-04-14 07:19] MedMed59 commented on #56
Yes, it's good ! I had no problem installing :)

[2021-04-14 07:37] Guikingone commented on #56
The bundle can be installed without creating the configuration file, thanks to the fix, the services will not be injected into the container, once a configuration file is defined, the services are injected thanks to the configuration.

As the bundle is not a `recipe` (for now), the configuration file is not created 🙂

[2021-04-14 07:45] #56 closed

[2021-04-14 07:46] Guikingone commented on #56
`0.4.1` will be released once the `main` CI is green, thanks for the patience and sorry for this issue 🙂

[2021-04-14 07:53] Guikingone commented on #56
UPDATE: `0.4.1` released 🚀

[2021-04-15 12:35] checkphi opened #58 "feat(worker): Parallel execution"
Currently it seems like all scheduled jobs are executed sequentially.
Would it be possible to leverage the messenger system somehow so that each job (or a defined number of jobs) can run in parallel?

[2021-04-15 14:45] Guikingone commented on #58
Hi @checkphi 👋🏻

Yes, all tasks are executed sequentially, to be honest, Messenger cannot natively consume messages in parallel so IMHO, there's no benefit of working on something related to Messenger.

I have plans to work on something that can execute tasks in parallel thanks to `Fiber` in PHP 8.1 but as it cannot be implemented in 8.0, it force me to enable it only for >=8.1 🙁

What do you have

[2021-04-15 14:56] checkphi commented on #58
Maybe I understood the documentation and concept of messenger wrong, but is it not possible to run multiple `messenger:consume` workers at the same time? Then whichever is "free" will work on that.

In other words, if we start 3 additional "scheduler workers" then we could process 3 scheduled jobs in parallel?

[2021-04-15 15:20] Guikingone commented on #58
Thanks to Supervisord, you can trigger multiple worker (same concept applies to this bundle), each worker will consume messages available at the moment.

In theory, yes, keep in mind that a lock is applied to every task before executing it so it may depends on the transport which is used (Doctrine use a resource lock, same things applies to Redis).

[2021-04-15 16:49] checkphi commented on #58
So you say that I should simple start multiple `scheduler:consume --wait` workers which would then almost result in the desired behaviour?

[2021-04-16 06:57] Guikingone commented on #58
Yes, for now, I don't have an other solution sadly 🙁

If you have one, feel free to contribute and we'll see if it can be integrated.

[2021-04-21 08:30] Guikingone commented on #47
Hi @jvancoillie 👋🏻

Have you updated your project to `0.4.1`? It seems that the issue is fixed since `0.4`, could you confirm? 🤔

[2021-04-21 09:19] jvancoillie commented on #47
Hi @Guikingone

Good news, I will install and check this quickly. I will come back to you.

[2021-04-21 10:42] jvancoillie commented on #47
I just installed version 0.4.1.

The first run of `bin/console scheduler:consume` (`single_run` with doctrine transport) everything seems to be going correctly.

Then on a second run `bin/console scheduler:consume` or on the HTTP entrypoint `_tasks?name=activation`consultation there seems to be a loop.

This is what I have in the logs.
[code]

[2021-04-21 15:10] jvancoillie commented on #47
@Guikingone

I think I identified the infinite loop problem. When a task is `disabled|Paused` the shouldStop property is never set to true. suddenly it loops :( [Worker.php#L107](https://github.com/Guikingone/SchedulerBundle/blob/b4189611deb123f7dcbcc6ffd6eb75f0c22e03c2/src/Worker/Worker.php#L107)

[2021-04-22 06:22] Guikingone commented on #47
Hum, strange behaviour, I think it's related to `$tasksCount` and not to `$shouldStop`, I'm gonna investigate 🤔

[2021-04-22 06:51] Guikingone commented on #47
@jvancoillie Could you test this issue via `dev-issue/47` when you have a moment?

If it's valid, the fix will be released as `0.4.2` 🙂

[2021-04-22 07:40] jvancoillie commented on #47
Hi @Guikingone

Juste try the `guikingone/scheduler-bundle dev-issue/47 9087d2f`

I get the same loop with the following configuration:
[code]

[code]

[2021-04-22 09:31] jvancoillie commented on #47
can check it with this testcase

[code]

 throws the following
 SchedulerBundle\Task\TaskInterface::getState(): string was not expected to be called more than 3 times.

it means that `excute()` function loop on this unique task

[2021-04-22 09:59] Guikingone commented on #47
Hum, I'm starting to think that maybe, the worker logic can be changed as we probably don't need to retrieved tasks that are paused / disabled 🤔

[2021-04-22 11:23] Guikingone commented on #47
Hum, I've investigated during lunch and the issue is really weird for multiple reasons:

- A paused / disabled task is not executed but continues to exist in the `$tasks` loop if the task is defined as "due": https://github.com/Guikingone/SchedulerBundle/blob/b4189611deb123f7dcbcc6ffd6eb75f0c22e03c2/src/Worker/Worker.php#L102.

- A paused / disabled task cannot increment the task count as we don't

[2021-04-23 09:55] checkphi commented on #58
I'm thinking about multiple solutions which I would be happy to discuss.
Can I contact you somehow? I think the discussions would exceed the scope of this issue.

[2021-04-23 11:46] Guikingone commented on #58
Hi @checkphi 👋🏻

Consider using discussions: https://github.com/Guikingone/SchedulerBundle/discussions

This way, we can track the discussion and open related issues if required 🙂

[2021-04-23 11:46] babeuloula opened #63 "Unable to create a MessengerTask"
Hello,

I want to create a MessengerTask in order to create task and register it on your scheduler, and your scheduler tell to messenger "disptach this message".

[code]

[code]

With this code I've got an error :

[code]

My stack:
- Symfony: 5.2.2
- PHP FPM: 7.4
- Scheduler Bundle: 0.4.1
- Symfony Messenger: 5.2.5

----

The crash is located here :

https://github.com/Guikingone/SchedulerBundle/

[2021-04-23 15:23] checkphi commented on #58
https://github.com/Guikingone/SchedulerBundle/discussions/65

[2021-04-24 16:02] Guikingone commented on #63
Hi @babeuloula 👋🏻

Strange behaviour here, I've tried to reproduce the bug locally in the tests, I don't find a way 🤔

Regarding the following comment:

The test is written around the serializer as we need a serializer to use `ObjectNormalizer`, here's a test that tries to reproduce the context:

[code]

The test is valid, maybe I miss something? 🤔

PS: Here's the related PR: https://github.com/Gu

[2021-04-24 17:31] babeuloula commented on #63
Hello,

🤔 Monday I will try to reproduice and I will send you a public repo with the bug.

[2021-04-26 08:15] babeuloula commented on #63
Hello @Guikingone, you can clone [this repo](https://github.com/babeuloula/guikingone-scheduler-bundle-messenger-task) and test it.

If you have an error with mkcert, just comment [this line](https://github.com/babeuloula/guikingone-scheduler-bundle-messenger-task/blob/master/docker/install.sh#L17) and use 8888 instead of 80.

[2021-04-26 08:18] Guikingone opened #67 "feat(command): add a command to execute tasks depending on tags, name, expression, etc"
Related to https://github.com/Guikingone/SchedulerBundle/discussions/60

[2021-04-26 09:01] Guikingone commented on #47
Hi @jvancoillie 👋🏻

I've pushed a new version of the fix, could you test it when you have a moment?

Thanks and sorry for the delay 🙂

[2021-04-26 10:41] jvancoillie commented on #47
Hi @Guikingone,

Thanks, I will test this after my lunch break.

[2021-04-26 11:48] jvancoillie commented on #47
﻿@Guikingone

Juste tested, it works fine when I only have one `single_run` task. As I feared it loops when multiple tasks are disabled or paused

[2021-04-26 11:58] Guikingone commented on #47
Yes, just updated the PR 🙂

[2021-04-26 12:05] jvancoillie commented on #47
Great, it works !
<img width="847" alt="Capture d’écran 2021-04-26 à 14 04 35" src="https://user-images.githubusercontent.com/21243943/116079671-62eef780-a698-11eb-97c4-bb11a5c48052.png">

[2021-04-26 12:08] Guikingone commented on #47
Great news, I'm gonna fix the CI of the PR and merge it, must be released in `0.4.2` 🙂

[2021-04-26 12:16] jvancoillie commented on #47
I wanted to validate that this also corrects the bug on the scheduler panel.

I have an error when consulting the task via the HTTP entrypoint :(
[code]

[2021-04-26 12:17] Guikingone commented on #47
Yes, fixed locally, I've added a check on the variable passed to `iterator_to_array` 🙂

[2021-04-26 12:19] jvancoillie commented on #47
Very good ! Sorry for the inconvenience ;)

[2021-04-26 13:20] MarcelWilhelmi opened #70 "WARNING: The task "..." cannot be created as an existing one has been found"
Hi there, it's me again :-)

I finally tested the doctrine transport with release version 0.4.1. Everything seems to work fine so far. A new table has been created successfully by using auto_setup=true. Thank you very much :-)

One little thing: With every run of scheduler:consume the following warning is being logged for each task:
`WARNING: The task "..." cannot be created as an existing one has

[2021-04-26 13:46] Guikingone commented on #70
Hi @MarcelWilhelmi 👋🏻

Can you add more informations about the context:

- PHP version
- Bundle version
- Dependencies versions
- Stack trace

Thanks 🙂

[2021-04-26 14:05] MarcelWilhelmi commented on #70
Hi @Guikingone
of course I can :-)

- PHP 7.4.16
- Bundle Version 0.4.1

Dependencies (composer show):

Stacktrace:

It's the following line in Bridge/Doctrine/Transport/Connection.php:164 in the create method:
`$this->logger->warning(sprintf('The task "%s" cannot be created as an existing one has been found', $task->getName()));`

[2021-04-26 16:18] Guikingone commented on #47
Small question about this fix @jvancoillie, does it solve the scheduler panel one? 🤔

[2021-04-26 16:42] jvancoillie commented on #47
yes @Guikingone it seems to be fixed, the profiler `_profiler/latest?panel=scheduler` no longer throws an exception 👍

[2021-04-26 16:47] Guikingone commented on #47
Ok, PR to merge, `0.4.2` must be released tonight 🙂

[2021-04-26 16:47] #47 closed

[2021-04-27 06:54] Guikingone opened #73 "feat(bag): Add support for emails on task lifecycle"

[2021-04-27 08:43] Guikingone opened #74 "bug(policies): Tasks not sorted correctly using FIFO"
🤔 This is not what I find with the above configuration, I expected to have the world command before the hello command

_Originally posted by @jvancoillie in https://github.com/Guikingone/SchedulerBundle/discussions/69#discussioncomment-663242_

[2021-04-27 13:10] #74 closed

[2021-04-27 13:32] Guikingone commented on #63
Hi @babeuloula 👋🏻

I'm gonna take time to investigate this bug, it should be merged for `0.4.3` 🙂

[2021-04-27 18:09] jvancoillie opened #77 "refactor(worker): sub-tasks output"
it is not possible to have the output for "sub-tasks" in chained tasks type, are there any plans to improve this ?

[2021-04-28 05:56] Guikingone commented on #77
Hi @jvancoillie 👋🏻

That's a current limitation on `ChainedTask` as the events are triggered only for the "master" task and not for each embedded task, that's something I want to to improve, if you want to work on it, feel free to open a PR 🙂

[2021-04-28 07:13] Guikingone commented on #63
Hi @babeuloula 👋🏻

I'm seeing that you're using `0.4.1`, could you update your dependencies to `0.4.2` and test again the process ? 🤔

I've tested locally and via the repository, both succeed 🙁

[2021-04-28 09:01] MarcelWilhelmi commented on #70
My scheduler.yaml looks like this:
[code]

Do you need any more information?

[2021-04-28 09:30] jvancoillie commented on #77
just try to recurse execution on ChainTask and it display output :)

with this following condition at L118 in the Worker

[code]

https://github.com/Guikingone/SchedulerBundle/blob/0efd88bdd39c04dda6f9f821465f70f1305ea15a/src/Worker/Worker.php#L115-L125

I don't know if this has any side effects

[2021-04-28 09:35] Guikingone commented on #70
Hi @MarcelWilhelmi 👋🏻

Nope, that's enough, the log call is not an error, it's a "information" about the fact that we've tried to create a task which already exist, the warning level is probably not the good one, WDYT ? 🤔

[2021-04-28 10:07] jvancoillie commented on #77
by processing the sub-tasks of a chainedType with the execute method of the worker it allows to keep all the logic of task processing (failedTasks, output, Events, ...)

[2021-04-28 11:08] Guikingone opened #78 "refactor(schedulepolicy): DeadlinePolicy logic"
Improve the `DeadlinePolicy` to fully respect the man page:

[code]

Source: https://man7.org/linux/man-pages/man7/sched.7.html

[2021-04-28 11:10] Guikingone commented on #77
The main issue is the usage of runners, by adding this method, the `ChainedTaskRunner` still used and will execute the embedded tasks twice.

[2021-04-28 11:17] jvancoillie commented on #77
yes I noticed that :(, I thought it was an interesting idea.

[2021-04-28 12:03] jvancoillie opened #79 "bug(sort): BatchPolicy"
what is this array_walk for ?

https://github.com/Guikingone/SchedulerBundle/blob/0efd88bdd39c04dda6f9f821465f70f1305ea15a/src/SchedulePolicy/BatchPolicy.php#L21-L24

Think there is an issue ...
what happens if we set a `priority` to -1000
it will not pass the validation during the `setPriorty(--$priority)` !

[2021-04-28 12:39] MarcelWilhelmi commented on #70
I'd say it should be either an info message or no log entry should be written at all in this case.
I'd log an info message when the task didn't exist and was created, because this is the exceptional case in my opinion.
An already existing task is the "normal" case imho and should not create a log message on every scheduler:consume call. WDYT?

[2021-04-28 13:30] Guikingone commented on #79
The array_walk act as a simple look, the idea is to adapt the priority to be less and less important for each tasks:

Source: https://man7.org/linux/man-pages/man7/sched.7.html

[code]

Extra: https://www.kernel.org/doc/html/latest/scheduler/sched-design-CFS.html#scheduling-policies

[2021-04-28 13:32] Guikingone commented on #70
I agree on the fact that the log is either too high in the log chain or not useful, do you want to submit a PR to improve this?

[2021-04-28 14:21] MarcelWilhelmi commented on #70
Well, I've never opened a PR on GitHub but I can try. Do you think this is necessary? I hoped you could just implement this little change for the next upcoming release.

[2021-04-28 14:29] Guikingone commented on #70
I can if you prefer, I was offering you the opportunity to contribute to the bundle but it's okay for me, I'm gonna improve this 🙂

[2021-04-28 15:25] #78 closed

[2021-04-28 16:02] Guikingone commented on #70
The extra logger call will be removed on next patch version, thanks for the issue @MarcelWilhelmi 🙂

[2021-04-28 16:11] #70 closed

[2021-04-28 16:14] Guikingone commented on #77
The idea is interesting, I'm not saying that its not 😄

I'm just not sure about the implementation 🤔

[2021-04-28 16:28] jvancoillie opened #82 "the dump-reference command fails"
impossible to dump configuration reference because the file does not respect the naming convention expected by the Extension::getConfiguration() command.

https://symfony.com/doc/current/bundles/configuration.html#dump-the-configuration

possible resolutions
name the file as expected or override the Extension::getConfiguration() command

[2021-04-28 18:37] babeuloula commented on #63
Hello @Guikingone,

I don't know why and how but I've restart a new project with the same dependencies and I've no longer this issue. It's very weird ...

If you can't reproduice this bug (and now me) I can't explain where the problem come from.

Thanks for your time.
You can close this issue if you want.

[2021-04-29 05:44] Guikingone commented on #63
Hi @babeuloula 👋🏻

Strange situation, I'm gonna keep an eye on this issues and add more tests to confirm that every task type can be used in `Doctrine` bridge avec with `Messenger` integration, I'm closing this PR but working on background on this use case.

Thanks again for the feedback 🙂

[2021-04-29 05:44] #63 closed

[2021-04-29 06:09] MarcelWilhelmi commented on #70
@Guikingone Thank you very much again for the fix and the opportunity to contribute to the bundle. If I stumble upon another issue I will definitely consider submitting a PR.

[2021-04-29 06:17] #82 closed

[2021-04-30 16:56] jvancoillie commented on #77
Better implementation so 😄

[code]

[code]

[2021-04-30 17:40] jvancoillie opened #88 "Task update ROLLBACK"
I configured a cron every minute like this `* * * * * developer /var/www/app/bin/console scheduler:consume`

I defined a `single_run` chainedTask to run related commands.

In the logs I have `ROLLBACK` on the update of the task while it is in progress by a previous cron call.
Could the execution of a `scheduler:consume` on tasks in progress have an impact ?

below the logs I have on the rollback

[2021-05-01 06:04] Guikingone commented on #77
I kinda like this one BUT, have you tested it locally?

I'm not sure about the worker injection in the runners during runtime, this could lead to memory limit or circular "leak" where the worker will continue to execute and execute tasks 🤔

[2021-05-01 17:10] jvancoillie commented on #88
I reproduced the ROLLBACK with a single task.

I suppose it is the (LOCK) option set on the first launch of `bin/console scheduler:consume` which causes the ROLLBACK on the update at the second launch of the `bin/console scheduler:consume` command.

On the second launch why does it consider that the "foo" task fails is a false positive. I will continue to investigate.

I attach a capture of the re

[2021-05-01 18:10] jvancoillie commented on #88
I think I identified the problem.
the first `ROLLBACK` occurs in `runPostExecutionMiddleware` for a task which is locked, which throws an exception

https://github.com/Guikingone/SchedulerBundle/blob/0a2f025eb1edbe8a1d444637177e38ca2eb055bc/src/Bridge/Doctrine/Transport/Connection.php#L218

this first exception considers that the task fails then it tries to update the task with the information of

[2021-05-01 18:16] jvancoillie commented on #88
maybe the task should not be updated when it is locked by `FlockStore`?

[2021-05-02 09:27] Guikingone commented on #88
Or updated once released.

By default, tasks always have changes as we update the latest execution date.

[2021-05-03 07:06] Guikingone commented on #88
Hi @jvancoillie 👋🏻

I've looked at this issue this morning and I agree with this statement:

There's a problem regarding the fact that we run the middleware list for a locked task in the worker:

[code]

IMHO, we should not run the middleware list if the task is not released, I'm gonna work on a fix 🙂

[2021-05-03 15:25] Guikingone commented on #88
Small up @jvancoillie 👋🏻

Could you test the fix via `dev-issue/88` when you have a moment ? Thanks 🙂

[2021-05-03 15:47] jvancoillie commented on #88
@Guikingone

Juste test your fix `dev-issue/88`, I fall into an infinite loop ... 😢

[code]

[2021-05-03 15:50] Guikingone commented on #88
Damn ... Strange issues here 🤔

[2021-05-03 16:12] Guikingone commented on #88
Ok, can you try again when you have a moment ? 😄

[2021-05-03 16:27] jvancoillie commented on #88
no infinite loop anymore, but i get two `WorkerRunningEvent`for this task is that expected ?

[code]

[2021-05-03 16:31] jvancoillie commented on #88
before this loop fix, it looks like that it was the same issue that describe for the `single_run` task.
https://github.com/Guikingone/SchedulerBundle/issues/47#issuecomment-824139435

[2021-05-03 16:34] Guikingone commented on #88
Thing is, if we encounter an `disabled` / `paused` task, we should not stop as we can have a new task to execute, what's the command that you're launching to consume tasks?

[2021-05-03 16:35] jvancoillie commented on #88
`bin/console scheduler:consume`

[2021-05-03 16:40] Guikingone commented on #88
Ok, so if I'm right, you're facing the following case:

- You've launched a previous `scheduler:consume` that executed tasks without errors
- You're launching a new `scheduler:consume` that execute the same tasks

Thing is, you have a tasks which has not been fully executed during the first `scheduler:consume`?

[2021-05-03 16:54] jvancoillie commented on #88
you're right. That's exactly it, for the test I simulate it manually but this is what happens when I have a cron which launches it  every minute.

[2021-05-03 16:59] jvancoillie commented on #88
quick question ... why is the `WorkerRunningEvent` event dispatched twice ?
Once before looking for the runner and a second time when the runner is found ?

[2021-05-03 17:07] Guikingone commented on #88
The idea was to notify that the worker is currently doing something but you're right, it's not actually "running" 🙁

[2021-05-03 17:35] jvancoillie commented on #88
by studying a memory problem that I encountered on a large doctrine batch task, I noticed another problem.
when I have a single_run task which is pending in the `dueTasks` list of the first `scheduler:consume` call and on the second call it is again in the list and is executed by both calls and is therefore no longer a single_run.
I think that when I have a little more detail on this I will open a

[2021-05-03 18:49] jvancoillie opened #92 "bug(scheduler): consuming tasks in separate processes"
Task is running multiple times.

with the following tasks configuration :
[code]

and a cron configuration : `* * * * * cd /path-to-your-project && php bin/console scheduler:consume >> /dev/null 2>&1`

the first `scheduler:consume` output :
[code]
one minute later second call `scheduler:consume` output :
[code]

we can see that the `bar` task is executed twice. How can we ensure the uniqueness of

[2021-05-03 18:58] jvancoillie opened #93 "FIFO sort"
Seems that #75 doesn't fix the FIFO sort 😢

<img width="1217" alt="Capture d’écran 2021-05-03 à 20 55 25" src="https://user-images.githubusercontent.com/21243943/116919699-edfc5e80-ac51-11eb-9b44-be9874913288.png">

[code]

expected `foo` then `bar` right ?

[2021-05-03 19:49] Guikingone commented on #93
Hi @jvancoillie 👋🏻

You're right, I found the reason of this weird output:

[code]

The issue is related to the `orderBy()` call, the call must be removed 🙂

[2021-05-03 21:00] jvancoillie commented on #93
after reflection, sorting was not necessarily a bad thing because I think that the  filesystem transport will recover task list based on the name too and therefore we will return the same problem, right?

[2021-05-04 05:29] Guikingone commented on #93
Don't get the point here 🤔

[2021-05-04 05:45] jvancoillie commented on #93
Sorry my english is so bad 😢
I wanted to say that with the orderby we find the same behavior of retrieving  task list with the filesystem transporter which I think recovers the files in alpha order. In other words, I wonder if the filesystem transport will not return a bad FIFO sort.

[2021-05-04 05:46] Guikingone commented on #93
I just tested it on the linked PR and it seems that the filesystem transport does not encounter issues when it comes to retrieving tasks and a FIFO sort 🙂

[2021-05-04 05:58] Guikingone commented on #93
Issue solved via https://github.com/Guikingone/SchedulerBundle/pull/95, planned to be released in `0.4.4` 🙂

[2021-05-04 06:01] Guikingone commented on #92
Regarding this issue, both `foo` and `bar` tasks have an `* * * * *` expression?

So IMHO, it's normal that each task is executed when the command is launched BUT, it seems that the `single_run` directive is not used 🤔

[2021-05-04 06:16] #88 closed

[2021-05-04 06:17] Guikingone commented on #88
Fixed via https://github.com/Guikingone/SchedulerBundle/pull/91, planned to be released in `0.4.4`

[2021-05-04 06:28] jvancoillie commented on #92
I agree with the single_run. but I think that on tasks performed monthly we could have the same behavior.

[code]
first `scheduler:consume` call :
[code]

second `scheduler:consume`  call :
[code]
Here,  the `foo` task  will skip (lock by the locker in the first consume) it will handle the `bar` task.
When `bar` task is done the `worker` try again `foo`who now can be acquiere without retrieving do

[2021-05-06 06:50] Guikingone commented on #92
Hi @jvancoillie 👋🏻

Could you test this issue against `0.4.4`?

Thanks 🙂

[2021-05-06 09:35] jvancoillie commented on #92
if I am not wrong, it is worse 😢

[code]

the first `scheduler:consume` output :
[code]

second call `scheduler:consume` output :
[code]

the `bar` task is played three times !

[2021-05-06 09:38] Guikingone commented on #92
Hum, strange, can you give me more informations about the `bar` task?

It is a task that take 3 minutes to be executed?

[2021-05-06 09:44] jvancoillie commented on #92
yes these are two commands to test the behavior of the scheduler.

BarCommand.php
[code]
FooCommand.php
[code]

[2021-05-06 12:25] Guikingone commented on #92
Small question about this issue, the `scheduler:consume` is launched every minute? Via a CRON? Other?

[2021-05-06 12:36] jvancoillie commented on #92
it will, but for testing I launch it manually

[2021-05-06 12:59] Guikingone commented on #92
Hum, ok, can you try it using `scheduler:consume --wait`?

It seems that when running `schedumer:consume`, we don't check the current date, sadly, tasks are executed even if we're not on the next minute.

[2021-05-06 15:26] jvancoillie commented on #92
one less `bar` task and one more `foo`task with `--wait` option 🤯
<img width="1330" alt="Capture d’écran 2021-05-06 à 17 21 45" src="https://user-images.githubusercontent.com/21243943/117323950-a400bc00-ae8f-11eb-9392-986a52504ff3.png">

[2021-05-06 17:08] Guikingone commented on #92
Quite strange that the first stopped 🤔

The first should not stop until you use `CTRL + C`, have you used it?

Regarding the second one, I see that the tasks are executed then there's a "blank space" (so the `bar` execution I guess?) then it execute again both tasks, it looks like `bar` is not paused (that's a `single_run` one if I'm right?) 🤔

I'm not sure to see it 🤔

[2021-05-06 17:17] jvancoillie commented on #92
Agree

I don't think I did that, I have a doubt now. i will retest

the blank spaces come from me I made a line break it was for the screen shot. It was then that I realized that the tasks continued

I have voluntarily left it running.

<img width="644" alt="Capture d’écran 2021-05-06 à 19 13 06" src="https://user-images.githubusercontent.com/21243943/117338899-6572fd80-ae9f-11eb-982d-2c3a6d32ea

[2021-05-06 17:24] jvancoillie commented on #92
I just retested and I confirm that I have not `CTRL-C`

[2021-05-07 06:13] Guikingone commented on #92
I think this is a display issue, I'm gonna investigate.

[2021-05-07 15:57] Guikingone commented on #92
Hi @jvancoillie 👋🏻

Could you test your issues against `dev-issue/92` when you have a moment? Thanks 🙂

[2021-05-07 17:55] jvancoillie commented on #92
:( same result

[2021-05-08 06:09] Guikingone commented on #92
Hi @jvancoillie 👋🏻

I've tried to reproduce the situation you're facing and I'm close to the conclusion that the issue comes from the tasks you've defined and not from the worker (at least, not from the execution process), for exemple, here's the process I've followed:

- Defining a set of tasks:

[code]

- Running the command `scheduler:consume --wait`:

<img width="939" alt="Screenshot 2021-05-0

[2021-05-08 06:50] jvancoillie commented on #92
Hello @Guikingone,

Hope your are doing well,

I just tested with symfony commands as requested on `issue/92`

Defined like this (i've kept the `single_run`)

[code]
 <img width="1422" alt="Capture d’écran 2021-05-08 à 08 40 22" src="https://user-images.githubusercontent.com/21243943/117529757-b25aef00-afd9-11eb-857f-35935866617b.png">

with this configuration, the execution on the other side is

[2021-05-08 08:06] Guikingone commented on #92
Ok, so, there's 2 issues:

- The `single_run` is not used and the task runs even if executed before.

But, does the scheduler find tasks every minutes of launch the process without waiting?

[2021-05-08 11:12] jvancoillie commented on #92
here are the logs I have when the tasks are repeated

[code]

[2021-05-08 11:18] jvancoillie commented on #92
I will study this dysfunction to try to bring more element because debugging for you in these conditions is not optimal

[2021-05-08 11:43] jvancoillie commented on #92
for the repetition problem at the interrupt, it is due to the behavior of the sleep method https://www.php.net/manual/en/function.sleep.php

When `ctrl-c` while sleeping sleep return the number of second left to sleep then execute is run again.

by adding a control like this on the sleep we can avoid this behavior
[code]

[2021-05-08 13:10] jvancoillie commented on #92
@Guikingone
I think I understood why the tasks never stop.

This comes from recursion, with each call to `execute ()` (with `--wait` enabled) the recursion is started but the parent exection remains active since we are in the while which is never interrupted .

[code]
at least the problem is identified, all that remains is to work on it.

Question, what is the behavior you want on --wait when ther

[2021-05-08 16:28] Guikingone commented on #92
Hi @jvancoillie 👋🏻

Nice work on investigating it, so:

Nice catch on this one, I've pushed a fix for this one on `dev-issue/92`.

That's a harder issue, I agree on the solution, when it comes to:

That's a very good question, IMHO, trying to consume tasks when there's none is not a problem, we can found tasks during the next execution (using the `--wait` option) 🤔

[2021-05-09 09:23] jvancoillie commented on #93
I guess this is the test you were talking about

https://github.com/Guikingone/SchedulerBundle/blob/d4708191754f16a66389a99946ad379ccfe3b4a6/tests/Transport/FilesystemTransportTest.php#L125-L130

while wanting to work on an improvement of the worker, I noticed that the testTaskListCanBeRetrieved failed, FIFO sorting does not work for me (main 0.4.4)

<img width="1452" alt="Capture d’écran 2021-05

[2021-05-09 11:30] jvancoillie opened #105 "DueTask scheduled inconsistent"
There is a problem with the recovery and execution of scheduled tasks.

task configuration :
[code]
See below
<img width="1452" alt="Capture d’écran 2021-05-09 à 13 20 13" src="https://user-images.githubusercontent.com/21243943/117570279-b82ffd80-b0c9-11eb-9d77-f96952aa9ade.png">

when setting up the tasks we can see that the next execution is set `2021-05-09T11:19:00+00:00`

I then request a co

[2021-05-09 12:39] jvancoillie commented on #105
after search, it is a limit of the [cron-expression](https://github.com/dragonmantank/cron-expression/blob/76ec7333bd29db2fe3c883b311412a12e5022796/src/Cron/CronExpression.php#L298) parser, the `isDue()` method does not take seconds into account.

[code]

So, when I run several `scheduler:consume` in the same minute the task is executed each time.

Is it a problem ? do we need to add a check for t

[2021-05-09 12:49] Guikingone commented on #105
Hum, currently and apart from the `scheduler:consume` command, I don't know how to bypass this limitation, maybe we can pause the worker (thanks to `sleep`) until the next minute but the issue is located in the scheduler, not the worker.

Regarding the `getDueTasks()` method, I don't know how to add a check in it, maybe via a flag (maybe `hasBeenCalled`?) or an attribute but for me, the issue is r

[2021-05-09 12:49] Guikingone commented on #93
@jvancoillie If FIFO sort does not work on your PR, be sure to has rebased against `main`, if the issue still occurs, consider opening a new PR 🙂

[2021-05-09 12:49] #93 closed

[2021-05-09 12:51] Guikingone commented on #92
@jvancoillie Could you test `dev-issue/92` when you have a moment? This way, we can close this PR is the problem is solved and move forward on the other ones, thanks 🙂

[2021-05-09 12:52] jvancoillie commented on #105
yes i agree with you i don't see how to improve that. you can close this request if you wish

[2021-05-09 12:57] jvancoillie opened #106 "bug(transport) FilesystemTransport - FIFO sort test failed"
my branch is up to date with upstream, the testTaskListCanBeRetrieved failed.

[code]

_Originally posted by @Guikingone in https://github.com/Guikingone/SchedulerBundle/issues/93#issuecomment-835801076_

[2021-05-09 13:21] jvancoillie commented on #92
I agree with that, there is no endless repetition of tasks on the `--wait`.

However, when all the tasks are consumed, the worker stops. (which is no longer the case in my proposition #104)

there remains the problem of concurrent processing the `single_run`task is executed by both `consume` processes but we can work on it in another PR

[2021-05-09 13:30] Guikingone commented on #92
Strange situation, locally, I don't have the issue, even if the tasks are consumed (and when using `--wait`), the worker wait 🤔

If you have more informations on this one, don't hesitate to explain 🙂

[2021-05-09 13:46] jvancoillie commented on #92
this only happened as soon as there is a `single_run` task, otherwise it still waits, it happened here:

https://github.com/Guikingone/SchedulerBundle/blob/d4708191754f16a66389a99946ad379ccfe3b4a6/src/Worker/Worker.php#L110-L112
when task is last and paused it go out of shouldStop while loop and stop the worker.

we fall back into the behavior why this issue was created (https://github.com/Guiking

[2021-05-09 15:40] Guikingone commented on #92
[code]

I don't have this code locally:

[code]

_Be sure to rebase_ 😄

I've noticed that `end()` moves the cursor even if called in a condition, `array_key_last` don't.

Regarding this bug, the behaviour seems valid if the condition is removed, I'm gonna work on it:

<img width="877" alt="Screenshot 2021-05-09 at 17 37 16" src="https://user-images.githubusercontent.com/13744329/117578146-34880800

[2021-05-09 15:50] Guikingone commented on #105
Actually, there might be a solution (note that I use "might" and not "there's a solution" 😄):

- When retrieving tasks using `getDueTasks()`, we can filter the results using `last_execution` option, this one is set using a `DatetimeImmutable` each time that the task is executed.

Maybe that we can do something like this:

[code]

WDYT?

[2021-05-09 16:43] Guikingone commented on #92
Nice, I've pushed a new version on `dev-issue/92`, feel free to test it when you have a moment 🙂

[2021-05-09 17:04] jvancoillie commented on #92
Perfect, the consume remains pending 👍

As for the separate process, I don't think the lock is involved.

because the tasks are mounted in memory before it is processed

suddenly the second run does not have the information that the first run processed the task

first `scheduler:consume` call AT 0 bring up this tasklist
[code]

second `scheduler:consume`  call at +1min bring the same tasklist;
[co

[2021-05-09 17:09] Guikingone commented on #92
Yes, that's enough clear 😄

That's strange as locally, I'm able to consume tasks on two processes without issues:

<img width="1673" alt="Screenshot 2021-05-09 at 17 43 20" src="https://user-images.githubusercontent.com/13744329/117580810-0eb53000-b0fa-11eb-9f6d-ca5b67e8a39a.png">

The `bar` task is consumed by the second process, I'm gonna investigate this lock call 🙂

[2021-05-09 17:44] jvancoillie commented on #92
I think the lock file is working fine.
what if you configure a single_run task?
it works because the execution time of a task is less than 1 minute in this way the list of tasks is refreshed at the next call.

But if you have a first task that takes more than a minute and a second `single_run` task.
The second process will execute the `single_run` (the first being discarded by the locker) this sam

[2021-05-10 06:15] Guikingone commented on #92
Hi @jvancoillie 👋🏻

Here's the behaviour that I encounter when scheduling your "long execution" task listed before (called `app:bar` here):

<img width="1673" alt="Screenshot 2021-05-10 at 08 14 15" src="https://user-images.githubusercontent.com/13744329/117613805-b87ed600-b167-11eb-97d7-285a6a6bd850.png">

The task is correctly locked in the second process, executed then "paused" 🤔

[2021-05-10 06:27] jvancoillie commented on #92
yes the execution time of a task is not high enough.

can you try with a `foo` task  that takes 3 minutes and a `bar` task that takes 1 minute ? you should behave the same as me.

[2021-05-10 06:49] Guikingone commented on #92
Here's the behaviour that I'm facing, `bar_single` (1 minute execution) is executed then `foo_single` is executed in the first process (3 minutes long), `bar_single` is executed twice in the second process 🤔

<img width="1674" alt="Screenshot 2021-05-10 at 08 48 26" src="https://user-images.githubusercontent.com/13744329/117617206-7efc9980-b16c-11eb-82b8-6ce9301143c2.png">

Very strange situation,

[2021-05-10 06:57] jvancoillie commented on #92
I tried to schematize the thing
![worker](https://user-images.githubusercontent.com/21243943/117618031-a9028b80-b16d-11eb-9887-e642373d021d.png)

[2021-05-10 07:06] jvancoillie commented on #92
I haven't looked at the database! I'll take a look at it at lunch break

[2021-05-10 07:24] Guikingone commented on #92
Ok, I've probably found the reason for this weird situation, the worker is wrongly configured for lock usage, these might be the internal reason behind the overlapping issue.

[2021-05-10 07:28] jvancoillie commented on #92
Perfect, if you found the reason 👍

If I can do anything, don't hesitate.

[2021-05-10 12:53] Guikingone commented on #92
Hum, no, have you installed `symfony/lock`?

[2021-05-10 12:56] jvancoillie commented on #92
of course,
[code]

[2021-05-10 13:11] Guikingone commented on #92
Ok, sorry, error on my side, fixed 🙂

[2021-05-10 13:22] jvancoillie commented on #92
`issue/92` same behavior

`bar` is executed twice

<img width="1452" alt="Capture d’écran 2021-05-09 à 19 18 48" src="https://user-images.githubusercontent.com/21243943/117665669-5d6ad480-b1a3-11eb-8444-6b79dfedf276.png">

[2021-05-10 13:43] jvancoillie commented on #92
for me the behavior is normal and the locker is not involved at least not in the current configuration.
If we do not want there to be a duplicate, all the task list should be locked.

In this case the `bar` task is available and not blocked by the locker at the time of its request for execution.
here https://github.com/Guikingone/SchedulerBundle/issues/92#issuecomment-836263336 we can see that `ba

[2021-05-10 13:47] Guikingone commented on #92
Yes, I was thinking about locking the whole task list, I'm gonna investigate this solution, that's strange as I don't face this issue locally 🙁

[2021-05-10 14:04] Guikingone commented on #92
Yes

That's the issue, actually, each task is locked just before being executed, which seemed fine until now, that's very strange that only `single_run` trigger this behaviour 🤔

[2021-05-10 14:11] jvancoillie commented on #92
I understand why this happens on the single_run;

Couldn't the lock as it exists today have consequences if we want to set up a priority on the sequence of tasks, you will tell me we can always go through the chainedType to make sure that!

[2021-05-10 15:44] jvancoillie commented on #92
yes i agree with that.

but with the multiple run we can expect the following configuration:
[code]
result in
the first `scheduler:consume` output :
[code]
one minute later second call `scheduler:consume` output :
[code]
Priority 2 task will be completed before priority 1 task

nothing bad, the execution order is respected 👍

it should be understood that the priority does not mean that the task wi

[2021-05-10 15:50] Guikingone commented on #92
If tasks needs priority support during execution, that's an other topic (not related to the current lock one) to explore 🙂

[2021-05-10 15:52] Guikingone commented on #92
For now, I prefer to fix the lock issue then merge it, this way, we can safely explore improvements built on this patch 🙂

[2021-05-10 15:55] Guikingone commented on #92
No problem here, maybe the issue is not the best place to discuss about this type of "improvement" (consider opening a specific discussion) but I'm always happy to discuss about improvements 🙂

[2021-05-10 15:59] jvancoillie commented on #92
yes no problem, for me it was linked to the fact of locking the entire task list but you're right we must move forward

[2021-05-11 07:18] Guikingone commented on #105
Hi @jvancoillie

I'm gonna merge the fix this morning, should be released in `0.4.5` 🙂

[2021-05-11 07:18] #105 closed

[2021-05-11 07:33] jvancoillie commented on #105
great new ! will test this soon 😉

[2021-05-11 16:17] Guikingone opened #109 "build(php): Drop 7.4 support"
Why ?

- Symfony 6 will requires PHP 8.0 by default
- Because 8.0 rocks 🚀

Planned version: `0.*.0`

As `7.4` support will stop (except security one) at `28 Nov 2021`, it could be a good idea to stop supporting it at the same time, this way, we can support Symfony `6.0` at the same time without launching tests on unsupported version.

[2021-05-11 17:20] Guikingone opened #111 "refactor(command): wrong date displayed"
When using `scheduler:consume` twice within the same minute, the next "execution allowed" date display the current minute, not the next one.

[2021-05-11 17:32] #111 closed, assigned to Guikingone

[2021-05-12 06:27] Guikingone commented on #79
Hi @jvancoillie 👋🏻

New informations to add on this issue? Should we open a PR? 🤔

[2021-05-12 10:40] jvancoillie commented on #79
yes i think there is an issue.
I just did the test with the following configuration :
[code]
I forced low priority to trigger the error quickly.

but with a default `priority` (0) the problem will occur at the thousandth execution of the task 😢

result in
<img width="846" alt="Capture d’écran 2021-05-12 à 12 32 33" src="https://user-images.githubusercontent.com/21243943/117961205-240aa400-b31e-1

[2021-05-12 10:54] Guikingone commented on #79
Hum, strange situation, do you want to submit a fix or do you prefer that I take it?

[2021-05-12 11:16] jvancoillie commented on #79
I can work on it, we must decide how to deal with the problem because currently it is the range priority constraint which is in question.

[2021-05-12 11:22] xaviermarchegay opened #116 "bug(0.4.7): scheduler due tasks error"
Configuration:

[code]

## Sample project without any launched tasks ever

### 0.4.7

[code]

[code]

### 0.4.6

[code]

[code]

## Sample project with a task which was launched before

The task is launched every time.

[2021-05-12 11:59] Guikingone commented on #116
Hi @xaviermarchegay 👋🏻

I've pushed a fix via `dev-issue/116`: https://github.com/Guikingone/SchedulerBundle/pull/117

Could you check if it fix the issue, I've tested it locally and it seems to work on my side 🙂

[2021-05-12 12:12] xaviermarchegay commented on #116
@Guikingone Perfect

[2021-05-12 12:14] Guikingone commented on #79
Yes, IMHO, we should not be able to use a negative priority (which have no gains IMHO) or a too high one, maybe we could stop at `1000` || `-1000` but update the current setter to say:

[code]

WDYT?

[2021-05-12 12:15] Guikingone commented on #116
I reopen the issue as the PR is configure to close it and update it.

If its good for you, the fix will be available in `0.4.8`, sorry for the bug 🙂

[2021-05-12 12:18] #116 closed

[2021-05-12 12:40] jvancoillie commented on #79
yes it's pretty good like that

[2021-05-12 15:16] xaviermarchegay commented on #116
![image](https://user-images.githubusercontent.com/658523/118000041-bf633f80-b345-11eb-9ee2-e47e01133966.png)

@Guikingone Problem with the tag? it is the same as 0.4.7?

[2021-05-12 15:19] Guikingone commented on #116
Yes, it seems that Github tagged twice the `0.4.7` 🙁

[2021-05-13 14:20] jmsche opened #121 "Error: Call to a member function format() on null"
I guess it happens when the task never run before?

[code]

[2021-05-13 14:22] xaviermarchegay commented on #121
fixed by https://github.com/Guikingone/SchedulerBundle/issues/116

Unfortunately, the latest tag is wrong so the fix is not released yet.

[2021-05-13 16:30] Guikingone commented on #121
Yes, I'm waiting for https://github.com/Guikingone/SchedulerBundle/pull/120 to be done / merged to release `0.4.9` 🙂

[2021-05-13 16:37] #79 closed

[2021-05-13 16:48] #121 closed

[2021-05-13 16:56] Guikingone commented on #121
`0.4.9` released, sorry for the delay 🙂

[2021-05-15 17:22] Guikingone commented on #106
Hi @jvancoillie 👋🏻

Does this issue still relevant in `0.4.9`? Thanks 🙂

[2021-05-15 18:08] jvancoillie commented on #106
yes during the last tests this problem still existed. I do not understand why this test passes in the CI and not localy :(

[2021-05-16 16:06] jvancoillie commented on #106
Hi @Guikingone 👋

I just tested again on the main branch and the test still fails.

it looks like this failure is telling the truth 😄

with the following configuration :
[code]

the tasks are consumed in the following order
[code]

but on fifo I expected the following execution

[code]
I looked at what was possible to do with the [finder sort](https://symfony.com/doc/current/components/finder.html

[2021-05-16 17:08] Guikingone commented on #106
Hum, strange behaviour, the tests are green and `main` still valid (in the tests I mean).

I'm starting to think that it could be related to the container "construction phase": https://github.com/Guikingone/SchedulerBundle/blob/d27541c65f5e26f38a6116a37f1e9f0580cd2f37/src/DependencyInjection/SchedulerBundleExtension.php#L811.

Could you check the `scheduled_at` attribute in the listed tasks? Maybe

[2021-05-16 20:43] jvancoillie commented on #106
all tasks have the same `scheduled_at`
[code]

even before being sorted by the orchestrator, the finder retrieves the tasks in this order and since they all have the same `scheduled_at` , the sort remains unchanged after FIFO sort.

[2021-05-17 05:50] Guikingone commented on #106
Strange situation here, the `scheduled_at` shouldn't be the same for every task (as there's always a small delay) 🤔

Do you want to work on a fix?

_PS_: For now, the next release should be `0.5.0`, this one can include bug fixes and new features 🙂

[2021-05-17 06:27] jvancoillie commented on #106
Ok it works, i can look at it after work

[2021-05-17 16:31] #49 closed

[2021-05-17 16:31] #67 closed

[2021-05-17 17:40] jvancoillie commented on #106
I just took a look.
I think I have identified the problem.

It is located at the task serialization. datetime is normalized with the `RFC3339` format so microseconds are not stored and comparison is done only on seconds.

[2021-05-17 18:43] Guikingone commented on #106
Hum, do you have a workaround in mind?

IMHO, it's not related to `TaskNormalizer` but to `DatetimeNormalizer`, isn't it?

[2021-05-17 18:53] jvancoillie commented on #106
Yes that's it, it's the `DatetimeNormalizer` which normalizes by default in `RFC3339` format.
It is possible to stipulate him the form to use that maybe a solution to be able to normalize the microseconds.

[2021-05-17 19:35] jvancoillie opened #124 "(Documentation): filesystem transport default path"
In the filesystem transport [documentation](https://github.com/Guikingone/SchedulerBundle/blob/main/doc/transport.md#filesystem) it says that the default path is: `%kernel.project_dir%/var/tasks` or in the FilesystemTransportFactory it is set by default to `sys_get_temp_dir()`

https://github.com/Guikingone/SchedulerBundle/blob/866e6c893cf175b132aa5a412e4394a7d9392835/src/Transport/FilesystemTrans

[2021-05-19 12:21] Guikingone commented on #106
Re @jvancoillie 👋🏻

Could you test against `dev-main` if your PR solve the issue, this way we can close this PR 🙂

[2021-05-19 16:05] jvancoillie commented on #106
@Guikingone 👋

it's all right on dev-main. thank you.

If you need any help or need me to test things don't hesitate to ask me it will be with great pleasure.

[2021-05-19 16:39] Guikingone commented on #106
Hi @jvancoillie 👋🏻

Thanks for the feedback, I don't have a lot of issues to give right now (except if you have new features in mind that you may need in the bundle?) but this issue still open: https://github.com/Guikingone/SchedulerBundle/pull/85, any news?

[2021-05-19 16:39] #106 closed

[2021-05-21 07:02] Guikingone commented on #77
Hi @jvancoillie

The improvement will be merged for `0.5.0`, could you test it against `dev-main` when you have a moment?

Thanks 🙂

[2021-05-21 07:02] #77 closed

[2021-05-21 16:13] jvancoillie commented on #77
@Guikingone 👋

Great news,i will have a look at this;

[2021-05-21 16:45] jvancoillie commented on #77
I just took a quick look at it. there are things that strike me as weird. I will go into that further tomorrow.

[2021-05-22 16:22] jvancoillie opened #125 "ChainedTask no longer works"
the execution of the subtasks no longer works.

with the following configuration, only the `bar` task seems to run.

[code]

<img width="846" alt="Capture d’écran 2021-05-22 à 18 20 59" src="https://user-images.githubusercontent.com/21243943/119233698-89367480-bb2a-11eb-9911-0e323f77085d.png">

[2021-05-22 16:37] jvancoillie commented on #125
Hello @Guikingone 👋

I think I identified the problem.

When launching the `chainedTask` the worker switch to running then the task `foo` is evaluated, the worker is running `handleTask` is skipped, go trough the finally bloc who disable running. Then when evaluating the task bar the worker is not more running and `bar` is executed.

That's why the `foo`task is not executed.

[2021-05-23 13:01] Guikingone commented on #125
Hi @jvancoillie 👋🏻

Strange, regarding this sentence:

If the worker is skipping the `handleTask`, this might be related to an error 🤔

Does the logs add any additional informations?

[2021-05-23 13:27] jvancoillie commented on #125
Hello @Guikingone 👋

I think it's still a bad written expression because of English. (Pourquoi j'ai pas mieux suivi les cours d'anglais 😢)

Unless I'm mistaken, I don't see why the block [finally](https://www.php.net/manual/en/language.exceptions.php#language.exceptions.finally) will raise an error? there is no thrown exeption in this block?.
https://github.com/Guikingone/SchedulerBundle/blob/1f6d

[2021-05-23 16:45] Guikingone commented on #125
Hum, ok, got it, this may requires a new configuration to solve this, I haven't thought about the `isRunning` attribute.

[2021-05-24 12:36] Guikingone commented on #125
Hi @jvancoillie 👋🏻

Could you test on your side using `dev-issue/125`? It works locally but as you have a "specific" environment and configuration, it could be good to validate against it 🙂

[2021-05-24 12:52] jvancoillie commented on #125
Hello @Guikingone,

I just tried with the same configuration the `Chain Type` task plays both subtasks well but now it is the last task 'Task 6` that is no longer executed.

[code]

[code]

[2021-05-24 13:25] jvancoillie commented on #125
the error is in the count of tasks `executedTasksCount`, which considers that all the tasks have been executed and exits the loop while I still have tasks.
This counter is reset to zero each time the method `execute` is called, but overwrites the value of the parent worker as well.

I also have `ROLLBACK` in the logs, I think it must come from the subtasks. i will take a closer look and give you f

[2021-05-24 13:32] jvancoillie commented on #125
That's right, the subtasks are updated in the same way as a simple task or in the case of a ChainedTask only the parent task needs to be updated.

```"The given task cannot be updated as the identifier or the body is invalid"```

[2021-05-24 17:25] Guikingone commented on #125
Alright, I've pushed a new version on `dev-issue/125`, as I break the API on `ChainedTask` and the `Worker`, could you test it locally after clearing the cache?

Thanks again for the feedback and sorry for the issue 🙂

[2021-05-24 17:30] jvancoillie commented on #125
No problem, I'll test it right away.
I was studying the problem and I tested by adding a local variable on the task counter that we decrease each time. it seemed to work.

it looked like this
[code]

I look at what you did right away.

[2021-05-24 17:42] jvancoillie commented on #125
Oups i got an error :(

[code]

[2021-05-24 17:46] Guikingone commented on #125
Should be fixed, sorry 😅

[2021-05-24 17:50] jvancoillie commented on #125
Nice it works ! great job.

[2021-05-26 07:53] Guikingone commented on #125
Hi @jvancoillie 👋🏻

The PR has been merged, the fix will be released via `0.5.0`

[2021-05-27 09:15] Guikingone opened #129 "feat(scheduler): support for preemption"
Source: https://www.kernel.org/doc/html/latest/scheduler/sched-design-CFS.html

[2021-05-31 12:07] Guikingone opened #131 "feat(core): support for Mercure"

[2021-05-31 12:08] Guikingone commented on #124
Hi @jvancoillie 👋🏻

Hum, I agree, this is strange, do you want to work on a fix? 🤔

[2021-05-31 12:09] Guikingone commented on #124
If so, keep in mind that we target `0.5.0` for any fix 🙂

[2021-06-01 14:00] Guikingone opened #133 "feat(command): add a command for crontab file generation"

[2021-06-01 16:29] jvancoillie commented on #124
I can work on a possible correction, it closely matches the possibility of configuring the default `FlockStore` path https://github.com/Guikingone/SchedulerBundle/pull/102#issuecomment-850866890.

How would you see this default configuration ?

[2021-06-01 17:03] jvancoillie opened #134 "bug(worker): lost `isFork` option in ChainedTaskRunner"
Unless I'm mistaken, when the `Worker` is cloned into the `ChainedTaskRunner` the `isFork` option
https://github.com/Guikingone/SchedulerBundle/blob/eba50a92cb7f1eb66d03cd8e8524442e974fba1b/src/Worker/AbstractWorker.php#L91
is overwritten at runtime,
https://github.com/Guikingone/SchedulerBundle/blob/eba50a92cb7f1eb66d03cd8e8524442e974fba1b/src/Runner/ChainedTaskRunner.php#L31-L33
so we are no lon

[2021-06-01 17:17] jvancoillie opened #135 "bug(command): scheduler:execute shortcut "n" already exists"
The execution of the command does not work an error is thrown
[code]

this is the default `--no-interaction`shortcut option.

[2021-06-01 17:41] Guikingone commented on #135
Hi 👋🏻

Eurk, nice catch (and an horrible bug), do you want to submit a fix? 😅

[2021-06-02 06:55] #135 closed

[2021-06-02 06:55] Guikingone commented on #135
Hi @jvancoillie 👋🏻

The bug has been fixed on `main`, must be released in `0.5.0` 🙂

[2021-06-02 15:40] Guikingone commented on #134
Hi @jvancoillie 👋🏻

Nice catch, you're absolutely right, there's an override of the `isFork` option at runtime, I'm gonna fix this issue and the one related to the forked / parent worker, sorry for the issue 🙁

[2021-06-02 17:24] #134 closed

[2021-06-02 17:25] Guikingone commented on #134
A fix has been merged in `main` and should be released in `0.5.0`, could you test the issue against `dev-main` when you have a moment?

Thanks and sorry again for this bug 🙂

[2021-06-04 09:32] Guikingone opened #141 "build(composer): Symfony 6.0 support"

[2021-06-07 12:10] #131 closed

[2021-06-08 06:46] Guikingone opened #144 "feat(core): execution plan"
| Q                | A
| ---------------- | ---
| PHP version?     | 7.4
| Bundle version?  | next (as minor)
| New feature?     | yes
| Bug fix?         | no

# Context

The idea here is to being able to create an "execution plan" that can executed when required using `scheduler:plan`:

[code]

This execution plan can be used to handle deployment phase and so on.

[2021-06-08 09:53] Guikingone opened #147 "feat(core): notification on slow tasks"

[2021-06-11 16:16] Guikingone commented on #92
Hi @jvancoillie 👋🏻

Small update on this issue, I'm currently working on a fix via `dev-issue/92` if you want to test it, the limitation was related to the lock store used (by default, the `fs` one does not support serializing the key which is a required things to handle multiple process execution).

It should be ready for `0.6` but if you want to test it before, feel free to 🙂

[2021-06-11 17:05] jvancoillie commented on #92
Hello @Guikingone,

with great pleasure, a little complicated lately but i will take a look at it as soon as possible

[2021-06-12 07:18] jvancoillie commented on #92
hi @Guikingone 👋

on composer update to `dev-issue/92`i got the following errror :
[code]

[2021-06-12 07:22] jvancoillie commented on #92
And on `bin/console scheduler:reboot`
[code]

are there any configuration changes to be expected. I will try to understand.

[2021-06-14 15:58] Guikingone commented on #92
Hum strange, I'm gonna investigate these issues 🤔

[2021-06-17 06:54] Guikingone commented on #124
Hi @jvancoillie 👋🏻

Small update, there was a bug in the `fs` transport factory, I've pushed a fix that will be released via `0.5.2`, feel free to update when you have time 🙂

[2021-06-17 07:09] #124 closed

[2021-06-18 15:06] jvancoillie opened #152 "symfony cache:clear failed without database"
Hi @Guikingone, hope you are doing well 😉

Since the upgrade of the bundle to version 0.5.2 the CI build job no longer work because during the composer install a cache: clear is called and returns the error:

[code]
I had to downgrade to version 0.4.9 to no longer have the problem 😢

[2021-06-18 15:20] jvancoillie commented on #152
a little more information with the stack trace
[code]

[2021-06-18 15:24] Guikingone commented on #152
Hi @jvancoillie 👋🏻

It seems related to the recently added `SchedulerCacheClearer`: https://github.com/Guikingone/SchedulerBundle/blob/main/src/CacheClearer/SchedulerCacheClearer.php

If you use a external connection and the connection is not available, an error is thrown, I'm gonna fix this, the solution could be to remove the CacheClearer.

[2021-06-18 15:41] Guikingone commented on #152
Alright, could you test it against `dev-issue/152`? Thanks again and sorry for the bug 🙂

[2021-06-18 15:41] jvancoillie commented on #152
I am very well thank you.

You're too fast, I was investigating and indeed, by deleting the `SchedulerCacheClearer` registration it works ...

https://github.com/Guikingone/SchedulerBundle/blob/6dc24eb86ab016d147dbfd1a806a2bd2c71cb143/src/DependencyInjection/SchedulerBundleExtension.php#L204-L216

[2021-06-18 15:44] jvancoillie commented on #152
same issue with dev-issue/152

<img width="923" alt="Capture d’écran 2021-06-18 à 17 43 26" src="https://user-images.githubusercontent.com/21243943/122586284-c542f380-d05c-11eb-8596-fe68c4434e01.png">

[2021-06-18 15:47] Guikingone commented on #152
Alright, small question, when you say `without database`, have you configured the transport in the configuration?

[2021-06-18 15:54] jvancoillie commented on #152
Ho yes, when I say without database it means that at the time of the docker build I do not yet have the database container. I have the following transport configuration in the configuration file
[code]

I also have the configuration of the database version in the .env as specified in the symfony troubleshooting documentation
https://symfony.com/doc/current/cloud/troubleshooting.html#sqlstate-hy000

[2021-06-18 16:45] Guikingone commented on #152
I just removed the cache clearer, could you test it when you have a moment? thanks 🙂

[2021-06-20 13:18] jvancoillie commented on #152
Hi @Guikingone 👋

I just tested `dev-issue / 152` and it works as expected.

Thanks 👍

[2021-06-20 13:57] jvancoillie commented on #92
I just took a look. it seems that the key cannot be serialized, it is marked as non-serializable
[code]
https://github.com/Guikingone/SchedulerBundle/blob/a93b706084667a81b47439dd130fad8526d560e2/src/Serializer/LockTaskBagNormalizer.php#L37

which throws an exception `The key can not be serialized.`

[2021-06-20 14:26] jvancoillie commented on #92
Indeed it is the `FlockStore` which is incompatible with serialization :(

https://symfony.com/doc/current/components/lock.html#serializing-locks

[2021-06-20 14:45] jvancoillie commented on #92
Another point, the `rowCount` on a [MySQL update](https://www.php.net/manual/fr/pdostatement.rowcount.php#104930) without change returns 0 which triggers a false positive on the update.
https://github.com/Guikingone/SchedulerBundle/blob/6dc24eb86ab016d147dbfd1a806a2bd2c71cb143/src/Bridge/Doctrine/Transport/Connection.php#L214

[2021-06-20 16:06] Guikingone commented on #152
Hi @jvancoillie 👋🏻

Thanks, I'm gonna release it via `0.5.3` 🙂

[2021-06-20 16:06] #152 closed

[2021-06-20 16:19] jvancoillie opened #155 "Lock store configuration improvement"
Would it be possible to configure the default `lock_store` with the `framework.lock:  '%env(LOCK_DSN)%'` configuration
instead of having to redefine it ?

in addition the following lock_store configuration: `lock_store:'%env(LOCK_DSN)%'` does not work, you must pass it a service name.
[code]

[2021-06-20 16:23] Guikingone commented on #92
Hi @jvancoillie 👋🏻

Yes, the `FlockStore` cannot support the serialisation of `Key`, that's why the PR introduce a BC break.

Regarding:

Could you open a new issue?

[2021-06-20 16:27] jvancoillie commented on #92
no problem, i will open a new pr for the mysql update problem.

Concerning the `lock_store` semaphore works well, maybe it would be interesting to use the default configuration of the component lock ;) #155

[2021-06-20 16:32] jvancoillie opened #157 "bug(bridge): [MySQL] update() without change throw an exception"
The `rowCount` on a [MySQL update](https://www.php.net/manual/fr/pdostatement.rowcount.php#104930) without change returns 0 which triggers a false positive on the update.

https://github.com/Guikingone/SchedulerBundle/blob/6dc24eb86ab016d147dbfd1a806a2bd2c71cb143/src/Bridge/Doctrine/Transport/Connection.php#L214

[2021-06-20 16:46] jvancoillie commented on #92
Otherwise the PR #102 seems correct, really nice work 👍

apart from the little doctrine update problem #157 and I'm also wondering if the finally block wouldn't overwrite the `ExecutionLockBag` information https://github.com/Guikingone/SchedulerBundle/pull/102#discussion_r654941146

[2021-06-22 11:34] Guikingone opened #158 "feat(core): support for custom Runtime"
Source: https://symfony.com/doc/current/components/runtime.html#create-your-own-runtime

[2021-06-24 09:53] jvancoillie opened #159 "bug(command): scheduler:consume --wait no longer works"
Hi @Guikingone,

When I run the scheduler in `--wait` mode it gives me back control and no longer waits every minute
[code]

[2021-06-24 16:54] Guikingone commented on #159
Hi @jvancoillie 👋🏻

Hum strange, do you have any scheduled tasks when launching the command?

[2021-06-25 15:49] Guikingone commented on #159
Hi @jvancoillie 👋🏻

I've pushed a first version of a fix via `dev-issue/159`, could you test it when you have a moment? Thanks 🙂

[2021-06-25 17:01] Guikingone commented on #157
Hi @jvancoillie 👋🏻

Sorry for the delay, I'm on holiday and the first week was pretty busy 😄

Do you want to submit a fix for this issue?

[2021-06-30 14:23] Bastien2805 commented on #159
Hi @Guikingone,

I think i have the same issue so i prefer ask directly here.

When i launch "scheduler:consume -w" i have this :

[code]

After, it just give me back control.

Thanks.

[2021-06-30 15:17] Guikingone commented on #159
Hi @Bastien2805 👋🏻

Yes, it could be related as I'm facing the issue locally, I'm currently in holidays so the PR has stale a little bit 😄

I'm gonna fix it fast, could you test it against `dev-issue/159`?

[2021-07-01 15:48] jvancoillie commented on #159
Hello @Guikingone 🥇

I just tested the `dev/159` and it seems to work.

thanks

[2021-07-01 16:05] jvancoillie commented on #157
I don't mind it but I don't see how to fix it.
Is this check really important?

[2021-07-02 08:00] Bastien2805 commented on #159
Hi @Guikingone,

I also tested it but it still doesn't work for me. Do you need more specific informations to resolve it ?

Thanks.

[2021-07-02 13:43] Guikingone commented on #159
Hi @Bastien2805,

Could you share the `scheduler.yaml` file?

This way, we can see the transport used along with the tasks 🙂

[2021-07-02 14:27] Bastien2805 commented on #159
Hi, here is my scheduler.yaml file.

[code]

[2021-07-02 15:01] Guikingone commented on #159
Hi @Bastien2805 and @jvancoillie,

I've pushed a small fix (mainly in the worker), could you test it via `dev-issue/159`?

Thanks and very sorry for this bug 🙁

[2021-07-05 08:11] Bastien2805 commented on #159
Hi @Guikingone,

Thanks for the fix but it still doesn't work for me. Tell me if you need some information.

[2021-07-05 13:47] Bastien2805 opened #162 "Unable to find MessengerTaskRunner in Worker"
Hi @Guikingone,

When i run `scheduler:consume -w` it can't launch my MessengerTask.

After some research and with add dump in Worker.php file i recover 6 TaskRunner (Shell, Command, Callback, Notification, Null and Chained) but not the MessengerTaskRunner and HttpTaskRunner.

You can reproduce it with : `dd(array_map(function ($runner){return get_class($runner);}, $this->getRunners()));` at line

[2021-07-05 14:30] Guikingone commented on #162
Hi @Bastien2805,

Does the `Messenger` component is installed and does the `messenger.default_bus` service available? 🤔

[2021-07-05 14:38] Bastien2805 commented on #162
Hi @Guikingone :wave: ,

Yes both are OK and messenger is already used for other functionnality of the project and it works.

[2021-07-05 15:16] Guikingone commented on #159
Hi @jvancoillie,

Could you validate that if fix your issue when you have a moment?

Thanks 🙂

[2021-07-05 15:28] Guikingone commented on #162
Hi @Bastien2805

A fix has been pushed via `dev-issue/162`, could uou check if it fix the issue when you have a moment?

[2021-07-05 16:45] jvancoillie commented on #159
Hello @Guikingone,

I just tested on `dev-issue / 159` with the following configuration :
[code]
the `wait` option seems to do its job and maybe a little too much because I no longer have the possibility to quit the worker` CTRL + C` :(
<img width="826" alt="Capture d’écran 2021-07-05 à 18 38 55" src="https://user-images.githubusercontent.com/21243943/124500563-48d04480-ddc0-11eb-84cc-74df87faef

[2021-07-05 16:54] Guikingone commented on #159
Hum, strange, I'm gonna explore this issue.

Yes, this behaviour has been introduced in `0.4.5` and discussed with @Bastien2805, https://github.com/Guikingone/SchedulerBundle/pull/161 should fix the issue, could you test it?

[2021-07-05 17:07] jvancoillie commented on #159
👍 `dev-feat/wait_force` no longer display warning with `--force`option but it gives me back control, maybe this is normal because it should not contain the `dev-issue/159` fix, right?

[2021-07-05 17:15] Guikingone commented on #159
`dev-issue/159` is not implemented for now, that could be the reason, you're right 🙂

[2021-07-06 09:23] Bastien2805 commented on #162
Hi @Guikingone,

I tested it but it still doesn't work, I tried `dd()` again as I mentioned in my first comment and I get the same tasks.

[2021-07-06 13:15] Guikingone commented on #162
Hi @Bastien2805,

Strange situation, I've just pushed a new version of the fix, could you test it? It works locally but we never know 🙂

[2021-07-06 14:53] Bastien2805 commented on #162
Hi @Guikingone,

Everything seems to work, thank you very much! :smiley:

[2021-07-06 15:02] Guikingone commented on #162
Hi,

Fantastic news, it should be available via `0.5.4` 🙂

[2021-07-07 11:56] Guikingone commented on #159
Hi @jvancoillie 👋🏻

Could you confirm that `dev-issue/159` fix the "control" issue, I'm talking about the command ending process and not the `sleep` call, if so, could you open a new issue for the `sleep` call?

Thanks 🙂

[2021-07-09 12:35] Guikingone opened #165 "bug(command): scheduler:consume --wait cannot be stopped"
Source: https://github.com/Guikingone/SchedulerBundle/issues/159#issuecomment-874233027

[2021-07-09 12:36] #159 closed

[2021-07-09 12:37] Guikingone commented on #159
Hi @jvancoillie 👋🏻

I've moved the `sleep` call issue to a new issue 🙂

Link: https://github.com/Guikingone/SchedulerBundle/issues/165

[2021-07-09 12:49] Guikingone commented on #157
Hi @jvancoillie 👋🏻

I've pushed a fix via `dev-issue/157`, could you check if it fix the issue when you have a moment?

Thanks 🙂

[2021-07-09 17:22] jvancoillie commented on #157
Hello @Guikingone,

It works 👍

[2021-07-10 06:38] #157 closed

[2021-08-09 17:24] Guikingone opened #168 "bug(scheduler): returning tasks"
As mentioned [here](https://github.com/Guikingone/SchedulerBundle/pull/102#issuecomment-880663119), tasks are returned even on non zero seconds calls from the scheduler, we must ensure that tasks are returned only **IF** the call on `Scheduler::getDueTasks()` is on valid datetime.

Desired behaviour:

[2021-08-13 08:40] #92 closed

[2021-08-13 11:52] Guikingone opened #169 "tools(rector): CI"

[2021-08-13 16:15] Guikingone opened #172 "config(dsn): allow to use env variable"

[2021-08-13 17:03] #172 closed

[2021-08-18 11:20] #165 closed

[2021-08-18 11:45] Guikingone opened #175 "refactor(worker): replace getOptions by getConfiguration"

[2021-08-19 06:50] Guikingone opened #176 "bug(worker): pausing task execution using signal"
Hello @Guikingone,

The shutdown works correctly when the `worker` has gone to sleep but it is impossible for me to stop it when a task is running :(

see the screenshot below, when `ctrl-c` on the first task, it stops. then the second task the `ctrl-c` seems to have no effect.

<img width="1350" alt="Capture d’écran 2021-08-18 à 19 18 11" src="https://user-images.githubusercontent.com/21243943/

[2021-08-25 11:33] Guikingone opened #179 "refactor(policy): move the uasort method to TaskList"

[2021-08-26 15:23] #109 closed, assigned to Guikingone

[2021-08-26 16:46] Guikingone opened #181 "feat(pool): allow to specify an application name"
# Context

Allow to specify an "application name" that can be used to distinguish applications when used in a pool context

# Implementation

[code]

[2021-08-31 06:18] #168 closed

[2021-09-06 08:01] #179 closed

[2021-09-06 08:02] #181 closed

[2021-09-08 06:30] Guikingone opened #185 "bug(worker): stop during task execution"
Created by @jvancoillie

[2021-09-08 07:13] Guikingone commented on #185
Hi @jvancoillie 👋🏻

Sorry for the delay, could you give me more informations?

Maybe (if you can share it) the `scheduler.yaml` file?

Thanks and sorry for the bug 🙂

[2021-09-08 09:09] Guikingone commented on #185
I've pushed a fix via https://github.com/Guikingone/SchedulerBundle/pull/186, if you have a moment to test it 🙂

It works locally but depending on the configuration, it may be a good idea to test it 😄

[2021-09-09 07:48] #175 closed

[2021-09-15 16:10] jvancoillie commented on #185
Hello @Guikingone,

Sorry for this late return, the return to work is complicated ... I'm a little overwhelmed :(

Just tested with the `dev-issue/185`and still have the same problem.

I have the following `scheduler.yaml` configuration :

[code]
<img width="1350" alt="Capture d’écran 2021-09-15 à 18 09 37" src="https://user-images.githubusercontent.com/21243943/133469703-01408593-398e-432e-80aa

[2021-09-15 16:41] Guikingone commented on #185
Hi @jvancoillie 👋🏻

No problem, hope the next weeks will be better for your 🙂

I think I got how the bug occurs, if you have X tasks to execute then stop the worker when there's remaining tasks, it don't stop fully, I'm gonna investigate in this way 🙂

[2021-09-15 16:52] Guikingone commented on #185
Well, I'm back 😄

If you have a moment @jvancoillie, could you test the latest commit on `dev-issue/185`, it works locally but your feedback is more important 🙂

[2021-09-15 17:29] jvancoillie commented on #185
With the last commit `0a08b07` it works fine, thanks.

If I can afford it, it would be interesting to have the status (for example `failed` or `canceled`) in the task list ;)

[2021-09-16 12:09] #185 closed

[2021-09-21 12:11] #144 closed

[2021-10-01 07:04] #129 closed

[2021-10-01 17:02] Guikingone opened #191 "feat(transport): configuration storage"

[2021-10-01 17:03] Guikingone opened #192 "feat(scheduler): configuration export"

[2021-10-16 17:27] ToshY opened #199 "Messenger example with custom command and transport"
I'm fairly new to Messenger and I'm encountering some minor inconveniences due to not fully understanding on how to use this bundle. I see a section about [Messenger](https://github.com/Guikingone/SchedulerBundle/blob/main/doc/messenger.md) but also about [MessengerTasks](https://github.com/Guikingone/SchedulerBundle/blob/main/doc/tasks.md#messengertask), but it's still confusing on how to use the

[2021-10-21 20:04] Guikingone opened #200 "feat(bridge): Kairoi transport"

[2021-10-24 08:49] Guikingone opened #201 "refactor(core): support for DS extension"

[2021-11-25 14:43] jmsche opened #208 "[RFC] Drop snyk"
Hi,

As snyk fails in PRs (and forks) would it be okay to drop it in favor of something else?

Possibilities:

* https://packagist.org/packages/roave/security-advisories
* https://github.com/fabpot/local-php-security-checker
* other?

[2021-11-25 14:48] jmsche opened #209 "[RFC] Reduce number of matrixes in GA workflows"
Hi,

What about reducing matrixes in workflows?

For example I don't see the point of running PHP CS Fixer on both Ubuntu & macOS, on both PHP 7.4 & PHP 8.0.

It would increase readability of checks when submitting a PR.

[2021-11-25 15:02] jmsche commented on #208
It seems there's an existing GA available based on the second link I sent: https://github.com/marketplace/actions/the-php-security-checker

[2021-11-25 15:43] jmsche commented on #209
Proposal:

* PHPUnit:
    * Drop "composer-dependencies" from matrix?
    * Symfony versions will be handled via #207
    * PHP: all supported
    * OS: Ubuntu only (it's already the case)
* Other workflows:
    * PHP: highest supported (currently 8.0, would be 8.1 soon) only
    * Deps: default (highest I guess) only
    * OS: Ubuntu only

That would considerably reduce the number of checks: for

[2021-11-30 07:17] Guikingone commented on #209
Hi 👋🏻

Sorry, didn't get the notice for these issue 🙁

Hum, what's the point here? Testing ONLY against highest?

Currently #31 add support for Sf 6 & PHP 8.1

Why not testing it against macOS?

So, you want to remove 7.4 support?

[2021-11-30 07:45] jmsche commented on #209
As tests can be configured on several Symfony versions, "lowest" would be eg. Symfony 5.4.*?

Code is supposed to be okay on all OS, if not then I think it's either an OS issue, or a PHP issue, but that should not be relevant on the bundle. But I may be wrong :)

Well, yes, as it does not get active support anymore, only security issues: https://www.php.net/supported-versions

[2021-11-30 08:01] Guikingone commented on #209
Well, if it was only a personal decision, I'd removed 7.4 support a long time ago but it seems that the bundle is highly used with 7.4:

![Screenshot 2021-11-30 at 08 59 42](https://user-images.githubusercontent.com/13744329/144008172-633a4060-d3d9-4b00-81fb-7efde61bf9ad.png)

You're right on this point, macOS can be safely removed, Linux should be enough.

Lowest IS 5.4 where highest either can b

[2021-12-01 06:56] Guikingone commented on #209
Hi @jmsche 👋🏻

Small update about yesterday discussion:

- Regarding PHP, `7.4` support will be dropped, `8.0` becoming the de facto version to use.
- Regarding Symfony, `5.2` support will be dropped, `5.4` becoming the de facto version to use along with `6.0`.

[2021-12-03 17:20] #141 closed

[2021-12-03 17:23] Guikingone opened #211 "feat(transport): Introduce a transport registry"

[2021-12-06 07:29] #211 closed

[2021-12-21 07:49] Guikingone opened #217 "bug(scheduler): synchronisation failure"
See https://github.com/Guikingone/SchedulerBundle/discussions/216

[2021-12-23 19:42] jogoool opened #218 "MessengerTask not working"
I just create a fresh Symfony project to test the bundle, I followed the documentation. the configured tasks are working fine but when I try to create MessengerTask it is not listed on the task list ` bin/console scheduler:list `.

| Q                | A
| ---------------- | ---
| PHP version?     | 7.4
| Bundle version?  | 0.7.1
| Symfony version? | 5.4

[code]

messenger config

[code]

[code]

[2021-12-24 08:01] Guikingone commented on #218
Hi @jogoool 👋🏻

Hum, this seems strange as the task is not marked as "queued", sadly, it's an edge case which is not tested 😅

I'm gonna investigate it thanks to the informations you gave, could you specify which PHP you use?

Thanks 🙂

[2021-12-24 08:05] Guikingone commented on #218
Just a small question, I see the class `LoggerTask`, could you be more specific on how this class is used?

Is it a service?

[2021-12-25 15:13] jogoool commented on #218
Hello @Guikingone

i try to set the task queued to true but I get the same result.

[code]

the php version is 7.4 and the autowire of symfony is enabled, so LoggerTask is defined as a service.

[2022-01-03 08:23] Guikingone commented on #218
Hi @jogoool 👋🏻

Sorry for the delay, happy new year BTW 😄

Thanks for the extra information, I'm gonna investigate this behaviour.

After looking and adding new tests locally, the `MessengerTask` can be scheduled without issues (it appears in the related command), the issue you're facing can be related to the DIC and how `LoggerTask` is registered into it, I'm gonna see if the bundle can do someth

[2022-01-17 07:03] Guikingone commented on #218
Hi @jogoool 👋🏻

Sorry for the delay, so, here's the actual situation regarding this issue:

- The issue you're facing is not a "direct" issue, that's a feature lack as the container CANNOT trigger a schedule directly via `__invoke()`, there's no factories or "method call" (as Symfony calls it) to handle this situation.

- If I want to support this type of "trigger", I cannot add it in `0.7` as it'

[2022-02-16 09:07] #217 closed

[2022-03-04 07:36] #218 closed

[2022-03-04 07:36] Guikingone commented on #218
Hi @jogoool 👋🏻

A fix will be released via `0.9.0` soon, thanks for the issue 🙂

[2022-03-21 16:26] Guikingone commented on #58
Hi @grimgit 👋🏻

Actually, the call to `scheduler:consume` lock all the tasks that can be locked: https://github.com/Guikingone/SchedulerBundle/blob/main/src/Worker/AbstractWorker.php#L200.

What's the idea behind this approach? If I'm right, locking the consume tasks isn't useful as they're "consumed" and not retrieved until next minute 🤔

[2022-03-22 08:08] grimgit commented on #58
Suppose to have a very long task, for example 1 hour task, all the others tasks are locked and will be delayed of 1 hour, even if i'm running multiple consumer.
Instead if the consumer is able to lock only the running task, others consumers can lock and consume the others available tasks.

[2022-03-22 08:24] Guikingone commented on #58
Actually, tasks are locked "per processes" depending on the store that you're using.

Here's the explanation of what happen internally:

- Process `A` call `scheduler:consume`, it lock all the tasks that can be locked at the moment.
- Process `B` call `scheduler:consume`, if tasks are available (or due for the correct wording), it consumes them and stop (you can `wait` for tasks using `--wait` opt

[2022-03-22 09:13] grimgit commented on #58
It's correct, process `A` should lock only the first available task before start to consume it so the process `B` can acquire the lock of another task.
Suppose to have two tasks, `Task 1` a time consuming task that can run for an hour and  `Task 2` a high frequency task,  as could be a mail queue processor that should run every minute. With the current lock design the `Task 2` can't be consumed by

[2022-03-26 13:18] ToshY opened #228 "Deprecated implicit conversion from float to int"
**Problem**
Logs show deprecated messages regarding `Scheduler.php`:

[code]

**Version**
PHP: 8.1.1
guikingone/scheduler-bundle: 0.8.1

[2022-03-27 11:29] db306 opened #229 "Docrine transport might not work properly with Postresql"
The following configuration works for MySQL (8.0) but not when using Postgresql (11.5)

[code]

When using Postgresql this output the following error when rebooting:

[code]

We can close this ticket if others have managed to make this work on Postgres

Thanks

[2022-03-27 16:51] Guikingone commented on #229
Hi @db306 👋🏻

Pretty strange, I'm not sure about the sentence:

Could your more specific about the `rebooting` phase? 🤔

[2022-04-04 13:12] Guikingone opened #231 "ci(tools): introducing Dagger"

[2022-04-06 12:16] Guikingone commented on #228
Hi @ToshY 👋🏻

Could you gave me a reproducer and/or more context about the trigger of this deprecation?

I've tried to reproduce it against `8.1.*` but didn't found any deprecation message 🙁

[2022-04-06 21:44] ToshY commented on #228
Hey @Guikingone

Well I think I found the source of my problem, which is basically not realizing that I upgraded from 0.7.1 to 0.8.1 on the 27th while the log entry was of the 26th 🤦‍♂️
I haven't seen the deprecation message since then.

Thank you for your time (and sorry for the inconvenience) 🙏🏻

[2022-04-06 21:44] #228 closed

[2022-04-08 06:18] xaviermarchegay opened #234 "bug(bridge): Rebooting the scheduler clears everything in the transport"
I use Redis as a transport for the scheduler. I also use Redis as the cache storage to store info like youtube/spotify oauth tokens.

When I have to reboot the scheduler, it clears everything in Redis.

https://github.com/Guikingone/SchedulerBundle/blob/059c74276e2616625ec4db1e1142c599cf034cdd/src/Scheduler.php#L270

Do you think that it would be possible for the scheduler to only clear the tasks?

[2022-04-08 16:57] Guikingone commented on #234
Hi @xaviermarchegay 👋🏻

Could you provide the scheduler dsn?

Here's the current implementation:

[code]

You can configure the list if desired.

[2022-04-08 17:13] xaviermarchegay commented on #234
In scheduler.yaml

[code]

In cache.yaml
[code]

I am guessing that the scheduler dsn is wrong?

[2022-04-08 17:21] Guikingone commented on #234
Hum, I see that you're using the `CacheTransport`, not `RedisTransport`, you're right, as the `cache.app` pool is configured via the redis adapter, I guess you must either configure the pool to use a specific database or configure a dedicated dsn for the scheduler transport (which is a better idea in any case as it helps to configure it without being dependent on other "components-related configur

[2022-04-08 17:40] xaviermarchegay commented on #234
Good enough for me, I just tested the Doctrine transport and it works well.

[2022-04-08 17:40] #234 closed

[2022-04-09 20:19] chapterjason commented on #229
Just wanted to use it in a project and directly hit this issue. Is there anything I can help with?

postgresql log:
[code]

[2022-04-10 16:18] Guikingone commented on #229
Hi @chapterjason 👋🏻

Yes, it seems that Postgres does not support the lock of a row, the usage here was to prevent any parallel execution of the task when called via the worker but the worker already lock the task using `Lock`.

The only solution here is to remove the current call of `$this->driverConnection->getDatabasePlatform()->getReadLockSQL()`, I'm gonna fix it.

[2022-04-10 16:43] Guikingone commented on #229
The PR https://github.com/Guikingone/SchedulerBundle/pull/233 tries to fix the issue for the whole bridge, could you test it when you have a moment?

Thank you and sorry for the delay 🙁

[2022-04-10 21:05] chapterjason commented on #229
@Guikingone Take your time, you are doing great work here! :)

The usage has unfortunately dissolved since an external API is not as usable as I thought. But I like to test it in a demo project.

[2022-04-12 16:37] #58 closed

[2022-04-15 12:39] #201 closed

[2022-04-19 09:23] qbejs commented on #199
@Guikingone is attribute `queued: true` still in available ?

[2022-04-19 11:37] Guikingone commented on #199
Hi @qbejs 👋🏻

it's totally normal, if you use the `queued` option, the task is not scheduled directly, instead we dispatch a message: https://github.com/Guikingone/SchedulerBundle/blob/main/src/Scheduler.php#L76

If you want to see the task in `scheduler:list`, you must consume the messages thanks to Messenger 🙂

[2022-04-26 09:44] #191 closed

[2022-04-26 12:33] #229 closed

[2022-04-26 12:34] Guikingone commented on #229
Hi @chapterjason and @db306 👋🏻

The fix will be released via `0.9` (soon), it's already available via `dev-main` if you need it faster (the branch is considered stable).

Thanks again for the issue and sorry for the delay 🙂

[2022-04-26 12:38] Guikingone commented on #155
Hi @jvancoillie 👋🏻

Still this issue interesting in your current usage s(if you still use this bundle)?

Thanks 🙂

[2022-04-26 16:51] xaviermarchegay opened #241 "Segmentation fault with the 0.9.0 tag"
PHP 8.1, opcache disabled (usually enabled bu disabled to debug the issue)

If I don't specify the memory_limit, it crashed with

The only change is the 0.9 version.

@Guikingone I don't know how to debug the segmentation faults, can you help me?

[2022-04-26 16:53] Guikingone commented on #241
Hi @xaviermarchegay 👋🏻

Seems strange, I see that you're doing a `php -dmemory_limit=-1 bin/console`, have you cleaned the cache?

[2022-04-26 16:55] xaviermarchegay commented on #241
@Guikingone Yes, same output with rm -rf var/cache/* && php -dmemory_limit=-1 bin/console

[2022-04-26 16:58] Guikingone commented on #241
Hum ... Strange, I'm facing the same error locally 🤔

[2022-04-26 17:15] Guikingone commented on #241
Ok, fast investigation, it seems that the `transport` is created in a loop (don't know why at the moment), could you rollback temporarily to `0.8`?

Sorry 😅

[2022-04-26 17:21] xaviermarchegay commented on #241
@Guikingone No problem, I did not really need the 0.9.0 tag right now anyway. Take your time.

[2022-04-26 20:01] Guikingone commented on #241
Ok, back with a fix 😄

Could you see if `dev-fix/memory_limit` fix it? It works locally but I don't trust my local build anymore 😄

[2022-04-27 04:02] xaviermarchegay commented on #241
@Guikingone Perfect, no error anymore

[2022-04-27 05:35] #241 closed

[2022-04-27 05:45] Guikingone commented on #241
Hi @xaviermarchegay 👋🏻

Fix released via `0.9.1`, have a great day 🙂

[2022-04-27 16:06] #192 closed

[2022-05-03 06:31] Guikingone opened #255 "feat(command): add autocompletion"
See https://symfony.com/blog/new-in-symfony-5-4-console-autocompletion

[2022-05-03 17:40] #255 closed

[2022-05-12 09:46] jvancoillie commented on #155
Hi @Guikingone 😛

Sorry for this late return,

I was unable to continue using the bundle. The delivery date of the application on which I used the bundle did not match with the release 1.0.0 of the bundle.

But I think this configuration would be useful for me, what do you think

[2022-05-25 08:55] nfragnet opened #259 "bug: Update to SF6.1-RC leads to serialization type error on NotificationTaskBagNormalizer"
Sf version: 6.1-RC
SchedulerBundle version: 0.9.2

On any web page loading I got the following error:

[code]

It may be related to the following: https://github.com/symfony/symfony/pull/45656

[2022-05-26 10:15] Guikingone commented on #259
Hi @nfragnet 👋🏻

Could you check via `dev-issue/259` if it fix the issue?

Thanks 🙂

[2022-05-29 19:45] alessandro-podo commented on #259
i have Tested it after upgrade.

SchedulerBundle\EventListener\TaskSubscriber::__construct(): Argument #4 ($serializer) must be of type Symfony\Component\Serializer\Serializer, Symfony\Component\Serializer\Debug\TraceableSerializer given, called in /var/www/html/netw-tools/var/cache/dev/ContainerWuUwmEU/App_KernelDevDebugContainer.php on line 1870

i got now this Error

[2022-05-30 09:55] nfragnet commented on #259
Tested (on stable 6.1.0) & got the same issue as @alessandro-podo

[2022-05-30 16:52] Guikingone commented on #259
Hi @nfragnet and @alessandro-podo 👋🏻

Sorry for the delay, I've pushed an update regarding `Serializer` usage in `TaskSubscriber`, should be better now.

Regarding the issue and PR, should we fix it now or wait for https://github.com/symfony/symfony/pull/46509 to be merged?

As we're under an RC period, maybe we could wait the merge and rebase this PR? WDYT? 🤔

[2022-05-30 16:57] alessandro-podo commented on #259
No problem, we have time.
After 6.1 was officially released we are no longer at the RC.

I think you can wait it out, will then probably come with 6.1.1, which is coming soon.

[2022-05-30 17:07] Guikingone commented on #259
Nice catch on the RC period, didn't see the release 😅

I think it's better to wait for `6.1.1` regarding the issue of the `__call` method, the serializer call be easily be solved (and will be solved using another PR just for `0.9.3`, regarding the normalizers/denormalizers, as the regression comes from Symfony and will be fixed, it's better IMHO to wait for the fix and improve the base code of the

[2022-05-31 15:32] Guikingone commented on #259
Hi 👋🏻

Small update, the serializer usage issue has been merged into `main`, regarding the `Traceable*` issue, I pushed an update on `dev-issue/259`, it seems to solve the issue (tested locally), the `__call()` usage seems to be an edge issue (the fix has been merged into 6.1 branch BTW) that we can solve in the bundle without breaking the API.

Could you test `dev-issue/259` and see if it fix the

[2022-06-01 08:13] nfragnet commented on #259
It seems to fix the issue thank you.

You may also want to already add the context parameters to methods `supportsNormalization` && `supportsDenormalization` to handle the following deprecation notice for all your instance of NormalizerInterface & DenormalizerInterface

[2022-06-01 08:23] Guikingone commented on #259
Thanks for the fix confirmation 🚀

Regarding the deprecation, I think its better to plan it for `0.9.4` or even `0.10.0` as it's related to Symfony `7.0` (which requires `8.1` by default, this will break the current support for `8.0`), be sure that this deprecation notice will be handled 🙂

[2022-06-01 08:24] #259 closed

[2022-06-01 08:35] Guikingone opened #264 "build(sf): prepare for 7.0"
It seems to fix the issue thank you.

While you're at it, you may also want to already add the context parameters to methods `supportsNormalization` && `supportsDenormalization` to handle the following deprecation notice for all your instances of NormalizerInterface & DenormalizerInterface

_Originally posted by @nfragnet in https://github.com/Guikingone/SchedulerBundle/issues/259#issuecomment-114

[2022-06-03 14:02] #208 closed

[2022-06-03 14:26] jmsche commented on #209
Hi @Guikingone,

Here I am, coming again with this issue :D

Here is a new proposal (as some recent PRs have improved things like #269):

* Code style: run against PHP 8.1 (latest) only, with highest dependencies only?
* Docker: drop macOS-latest?
* Infection: run against PHP 8.1 (latest) only, with highest dependencies only?
* PHPUnit: keep as it is
* Rector: run against PHP 8.1 (latest) only, wi

[2022-06-05 17:32] #264 closed

[2022-06-09 09:09] dobbidev opened #272 "bug(bridge): postgres not working"
Q | A
-- | --
PHP version? | 8.1
Bundle version? | 0.9.3
Symfony version? | 6.0
doctrine/dbal version? | 3.3.6

Hello,

after installing your bundle and creating the first Task in scheduler.yaml:
[code]

I get the following error:
[code]

After long debugging I found the following part, which makes the problem:
https://github.com/Guikingone/SchedulerBundle/blob/a8335cb72e8de96f33512ef352465d622bbd

[2022-06-09 10:32] tacman opened #274 "bug(serializer): TraceableNormalizer usage"
Starting from a new project:

[code]

The error (0.9.3):
[code]

The error (main branch):
[code]

The issue is that the normalizer being passed in is of type  Symfony\Component\Serializer\Debug\TraceableNormalizer.

I added a line to display the problematic class in the exception, I'll submit a PR.

[2022-06-09 11:21] Guikingone commented on #274
Hi @tacman 👋🏻

Seems strange, @nfragnet, wasn't it the type of error that you faced with the RC version? 🤔

[2022-06-09 11:29] Guikingone commented on #272
Hi @dobbidev 👋🏻

That's not a known issue to be honest, it seems strange as the Doctrine bridge is tested against `>= 3.3` and it seems to work perfectly, I'm going to investigate this issue, in the same time, if you have an idea on your side to keep the actual behavior while fixing the issue, feel free to submit a PR 🙂

[2022-06-09 12:03] jmsche commented on #209
Closing as #271 was merged 🎉

[2022-06-09 12:03] #209 closed

[2022-06-10 07:00] Guikingone commented on #274
Hi @tacman 👋🏻

I followed the reproduction steps that you listed earlier, locally, it works without any issues (it requires to do a `c:c` to schedule the tasks but once done, everything works as expected) when using `0.9.3`.

I just opened #277 to improve the conditions and command display, could you test it via `dev-issue/277` in your local project and see if it fix the issue?

Thanks 🙂

[2022-06-10 09:02] Guikingone opened #278 "feat(bridge): Dragonfly bridge"
See https://github.com/dragonflydb/dragonfly

[2022-06-10 11:01] tacman commented on #274
Indeed, use cache:clear after the bundle install fixes the problem.  I thought composer did that automatically.   Hmm.

[2022-06-10 11:01] #274 closed

[2022-06-10 11:08] tacman opened #279 "Fix deprecation warnings for Symfony 6.1 commands"
There are a handful of deprecation errors when following the instructions above using php 8.1, because symfony new will install Symfony 6.1 if the php version is 8.1.

[code]

Since symfony/console 6.1: Relying on the static property "$defaultName" for setting a command name is deprecated.

I can fix these and submit a PR.

[2022-06-10 11:23] Guikingone commented on #279
Hi @tacman 👋🏻

The issue is already solved / merged in `main`: https://github.com/Guikingone/SchedulerBundle/commit/a116655db2d64e124a302f159f1879f352a6a57d, `0.9.4` should be release pretty soon 🙂

[2022-06-10 11:29] tacman commented on #279
Hmm, that looks like a different issue (lazy loaded commands), though related.  Isn't the "preferred" way to register commands now via attributes, e.g.

[code]

and then remove the ->setName() and ->setDescription() lines.

[2022-06-10 11:31] Guikingone commented on #279
We could use attributes to define commands in the bundle, feel free to submit an PR to do it 🙂

[2022-06-10 12:21] tacman commented on #279
OK.  I was hoping rector would have a rule for this already, but  alas, no.

Can you give me some guidance on the non-coding part of submitting a PR?
That is, I assume I should create an issue, then create a branch to resolve
that issue.  Should that branch be from 'main'?  Or 9.4? Or...?

On Fri, Jun 10, 2022 at 7:31 AM Guillaume Loulier ***@***.***>
wrote:

[2022-06-10 12:23] Guikingone commented on #279
The branch should be created from `main`, the coding standard are set via PHP-CS-Fixer and the "compliance" with PHP 8.0 is fixed via Rector, the CI should easily tell us if the PR is not valid 🙂

[2022-06-10 16:07] #279 closed

[2022-06-13 06:39] #169 closed

[2022-06-17 12:01] babeuloula opened #285 "bug(scheduler): tasks are always recreated"
Hello,

I've got an error with 0.7.1. Maybe also with the last, but I have not try because I use PHP7.4.

For every request and and every call with a console command, the transport want to always create all tasks regsitered on yaml config file.

My config file:

[code]

The stack trace:

[code]

With doctrine I've got the same problem but you don't throw an exception:
- Redis: https://github.com/G

[2022-06-18 07:55] Guikingone commented on #272
Hi @dobbidev 👋🏻

Could you see if `dev-issue/272` fix the issue?

It seems to work locally but I prefer that you confirm it if possible.

[2022-06-18 09:21] dobbidev commented on #272
Hi @Guikingone

it works fine!

Thx for your quick fix! :)

[2022-06-19 17:01] #272 closed

[2022-06-21 12:10] Guikingone commented on #285
Hi @babeuloula 👋🏻

Thanks for the issue, there was an issue regarding the way we handle the `Transport::get()` call, it will be fixed in `0.9.4` but due to the current way we handle branches, I cannot merge it into a fix for `0.7.*` 😞

[2022-06-21 12:12] #285 closed

[2022-07-04 06:34] Guikingone opened #289 "bug(worker): TaskInterface::setLastExecution() must be called even when an error occurs"

[2022-08-02 15:58] Guikingone opened #295 "feat(command): Gracefully stopping the worker"
**Situation**

Currently I'm using scheduler as separate service in my docker compose setup. All my scheduled tasks are send to the message queue. Consuming the messages is also done in a separate service.

[code]

Messenger has a command called `messenger:stop-workers`, which will gracefully stop workers by completing the currently handled messages and then stops further consuming. This is nice a

[2022-08-12 07:16] #295 closed

[2022-08-12 09:33] xaviermarchegay opened #297 "bug(scheduler): regression on scheduler:reboot (0.9.4)"
With 0.9.3 :

![image](https://user-images.githubusercontent.com/658523/184326310-4ffdc8d0-e1fe-47ae-baaf-3fa93fbeba78.png)

I upgrade the SchedulerBundle :
![image](https://user-images.githubusercontent.com/658523/184326457-d736c12b-cb84-459c-acc3-2809b532ffb4.png)

With 0.9.4 :

![image](https://user-images.githubusercontent.com/658523/184326359-036a2ea5-386a-436a-8c9b-8cd0c30c0c40.png)

Content

[2022-08-12 09:41] Guikingone commented on #297
Hi @xaviermarchegay 👋🏻

Do you have any logs regarding the call of `scheduler:reboot`?

[2022-08-12 09:46] xaviermarchegay commented on #297
[code]

[2022-08-17 05:42] Guikingone commented on #297
Hi @xaviermarchegay 👋🏻

Could you test if `dev-issue/297` solve the issue? It seems to solve it locally but I prefer to have an "issue-related" test if you have time 🙂

Thanks.

[2022-08-17 07:42] xaviermarchegay commented on #297
Hi @Guikingone

Works perfectly for me.

[2022-08-17 16:00] Guikingone commented on #297
Perfect, it will be release in `0.10` 🙂

Thanks for the fast feedback 🙂

[2022-08-17 16:00] #297 closed

[2022-09-02 19:12] ToshY commented on #295
Hey @Guikingone 👋

I know you said it's going to be released in `0.10`, but could you give an ETA of when that is? Can't wait to test it out 😃

[2022-09-03 17:04] Guikingone commented on #295
Hi @ToshY 👋🏻

Yes, it should be out around monday, I'm finishing some local tests 🙂

[2022-10-19 11:55] suabahasa opened #302 "bug(transport): using Debug pack resulting "datetime normalizer" error"
I'm following the quick start guide, and it runs successfully

[code]

Then I installed the debug pack

[code]

Once installed, I try again the list command it returned the error

[code]

Then I try to remove all Debug pack dependencies

[code]

And then run back the list command, and it works again

[code]

[2022-10-20 08:12] Guikingone commented on #302
Hi @suabahasa 👋🏻

Hum, weird, I'm going to investigate this one, it was fixed before but it seems unresolved, sorry for this issue.

[2022-10-27 05:09] Guikingone commented on #302
Hi @suabahasa 👋🏻

Could you precise the version of the bundle and Symfony deps that you're using?

I tried locally using the latest version of the bundle and it seems to works as expected 🤔

[2022-10-27 09:11] suabahasa commented on #302
Hi @Guikingone

I start a fresh install to reproduce the error.

1. Install the symfony and package
[code]

2. Create a new config file
[code]

3. Clear the cache with `symfony console c:c`
[code]

4. List the schedule with `symfony console scheduler:list` and the error come
[code]

----

This is the output when I run `composer show` command

[code]

I have upload the folder on https://www.dropbox

[2022-11-03 07:43] Guikingone commented on #302
Hi @suabahasa 👋🏻

Sorry for the delay, could you share a reproducer via Github? I tried to reproduce it locally via a new project but I don't get the error listed earlier, it just "works as expected", the `composer show` list the same dependencies as yours and both `c:c` and `scheduler:list` works as expected 🤔

[2022-11-03 08:32] suabahasa commented on #302
Hi @Guikingone

I have shared the reproducer via GitHub at https://github.com/suabahasa/jadwal. I include the `vendor` folder as well.

Thank you

[2022-11-16 08:22] Guikingone commented on #302
Hi @suabahasa 👋🏻

Could you test if `dev-issue/302` fix the issue? It seems to work locally but I prefer that you validate it against your project if you have time.

[2022-11-16 10:00] suabahasa commented on #302
Hi @Guikingone

I want to confirm it does work.
Thank you very much.

[code]

[2022-11-16 13:55] #302 closed

[2022-11-16 13:55] Guikingone commented on #302
Thanks for the feedback, the fix will be released via `0.10.1` 🙂

[2022-11-16 14:13] suabahasa commented on #302
Sweet! Thank you @Guikingone

[2022-11-18 23:44] ToshY commented on #155
Hey @Guikingone 👋

I'm unsure if I'm having the same issue, but I was following the [docs](https://github.com/Guikingone/SchedulerBundle/blob/main/doc/lock.md#usage) and wanted to specify a Redis DSN, but I'm unable to get this to work.

[code]

[code]

[code]

When doing `debug:container store`, I get an exception:

[code]

So I tried changing to `lock_store: 'lock.default.factory'`, which gave m

[2022-11-19 15:59] ToshY opened #305 "bug(command): scheduler:stop-worker not stopping when wait and force arguments present"
**Situation**

Testing with my own setup as described in [Issue 295](https://github.com/Guikingone/SchedulerBundle/issues/295), the newly added `scheduler:stop-worker` command does not seem to have any effect on actually stopping the worker when the `scheduler:consume` command is being run with the `--wait` and `--force` arguments.

Version: 0.10.0

[2022-11-21 16:59] Guikingone commented on #305
Hi @ToshY 👋🏻

Sorry for the bug, it seems that the listener does not listen when the worker is sleeping, I'm currently working on a fix 🙂

[2022-11-23 07:40] Guikingone commented on #155
Hi @ToshY 👋🏻

Could you create a dedicated issue? Thanks 🙂

[2022-11-23 07:41] Guikingone commented on #155
Hi @ToshY 👋🏻

Could you create a dedicated issue, just in case, I can take a look and see if it can be improved? Thanks 🙂

[2022-11-24 12:37] Guikingone commented on #305
Hi @ToshY 👋🏻

It seems to be fixed via `dev-issue/305`, could you test if it fix your local environment, it fix mine but I prefer to ask for more tests if you have time 🙂

[2022-11-24 18:19] ToshY commented on #305
Hey @Guikingone

Sure. I have time to test it this weekend, so I will report back here with my findings then 😉

[2022-11-26 16:36] ToshY commented on #305
Hey @Guikingone

Let me first start off with saying that it stops the container, so that works 👍

I spinned up a container with `--wait --force -vv`, and after a couple of minutes I issued the `scheduler:stop-worker` command:

[code]

After X seconds the container has stopped, and in the logging of the container I see the following info messages:

[code]

Now I have several questions regarding my

[2022-11-28 07:53] Guikingone commented on #305
Hi @ToshY 👋🏻

Thanks for the feedback.

Yes, agree, I renamed it to `The worker will be stopped after executing the current task or once the sleep phase is over`.

Actually, no, I mean, not using the current state of the worker logic, we're using the `sleep` function and it cannot be reverted during the usage of the method, I have some ideas to improve this but its out of the scope of the current

[2022-11-30 09:23] belene opened #308 "Use of mutation testing in SchedulerBundle - Help needed"
Hello there!

My name is Ana. I noted that you use the mutation testing tool infection in the project.
I am a postdoctoral researcher at the University of Seville (Spain), and my colleagues and I are studying how mutation testing tools are used in practice. With this aim in mind, we have analysed over 3,500 public GitHub repositories using mutation testing tools, including yours! This work has rec